@model IEnumerable<DirectAgents.Domain.Entities.Cake.Advertiser>

<table style="border: 1px solid gray">
    <tr>
        <th>Id</th>
        <th>Advertiser</th>
        <th>#Offers</th>
    </tr>

@foreach (var adv in Model)
{
    <tr id="advrow@(adv.AdvertiserId)">
        @Html.Partial("AdvertiserRow", adv)
    </tr>
}

</table>

@Model.Count() advertisers
<br />

@section scripts {
    <script type="text/javascript">

        function SynchOffers(advId) {
            var url = '@Url.Action("SynchOffers")?advId=' + advId;
            $.get(url, function (data) {
                LoadRow(advId, true);
            });
        }

        function LoadRow(advId, showAlert) {
            var url = '@Url.Action("AdvertiserRow")?advId=' + advId;
            $.get(url, function (data) {
                $('#advrow' + advId).html(data);
                if (showAlert) alert('Updated');
            });
        }
    </script>
}