@model IEnumerable<DirectAgents.Domain.Entities.Cake.Offer>

<h3>@Html.ActionLink("Budgets", "Start") - Offers</h3>

<table style="border: 1px solid gray; border-spacing: 10px 0">
    <tr>
        <th>Advertiser</th>
        <th>OfferId</th>
        <th>Offer</th>
        <th></th>
        <th>Budget</th>
        <th>Monthly?</th>
        <th>StartDate</th>
        <th colspan="2">BudgetUsed</th>
    </tr>

@foreach (var offer in Model)
{
    <tr id="offrow@(offer.OfferId)">
        @Html.Partial("OfferRow", offer)
    </tr>
}

</table>

@section scripts {
    <script type="text/javascript">

        function InitOffer(offerId) {
            var url = '@Url.Action("Initialize")?offerId=' + offerId;
            $.get(url, function (data) {
                LoadRow(offerId, true);
            });
        }

        function LoadRow(offerId, showAlert) {
            var url = '@Url.Action("OfferRow")?offerId=' + offerId;
            $.get(url, function (data) {
                $('#offrow' + offerId).html(data);
                if (showAlert) alert('Updated');
            });
        }
    </script>
}