<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BingApiToken" value="EW65911AO" />
    <add key="BingApiUsername" value="API_DanielOwen" />
    <add key="BingApiPassword" value="agentdan1" />
    <add key="BingReportFolder" value="C:\Downloads" />
    <add key="BingReportFilename" value="bingrep.zip" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICampaignManagementService" sendTimeout="00:03:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IReportingService" sendTimeout="00:03:00">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://adcenterapi.microsoft.com/Api/Advertiser/V8/CampaignManagement/CampaignManagementService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICampaignManagementService"
        contract="CampaignManagement.ICampaignManagementService" name="BasicHttpBinding_ICampaignManagementService" />
      <endpoint address="https://api.bingads.microsoft.com/Api/Advertiser/Reporting/v9/ReportingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService"
        contract="Reporting.IReportingService" name="BasicHttpBinding_IReportingService" />
    </client>
  </system.serviceModel>
</configuration>