@model ClientPortal.Data.Contexts.Campaign

<h3>Campaign Summary</h3>

Campaign: @Model.CampaignName
<br />
Affiliate: @Model.Affiliate.AffiliateName
<br /><br />

@Html.Partial("../CampaignDrops/Index", Model.CampaignDrops_Originals.OrderBy(d => d.Date))

<br />
@Html.ActionLink("New Drop", "Create", "CampaignDrops", new { campaignid = Model.CampaignId }, null)