@{
    ViewBag.Title = "Index";
}

<h2>Lending Tree Service</h2>

<button onclick="javascript: DoIt()">Go</button>

<script>
    function DoIt() {
        document.location = "@Url.Action("DoIt")";
    }
</script>
