@model ClientPortal.Data.Contexts.Offer
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmReportsTab");
}
@if (!Request.IsAjaxRequest())
{
    <h3>Offer-Report Start</h3>
}
Offer: <b>@Model.DisplayName</b>
<br />
<br />

Create a new report (
@if (Model.Campaigns.Any())
{
    @Ajax.ActionLink("manual", "Create", "CPMReports", new { offerid = Model.OfferId }, ajaxOptions)
    <text> / </text>
}
@Ajax.ActionLink("wizard", "Show", "CPMReportsWizard", new { offerid = Model.OfferId }, ajaxOptions)
)