<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="AdWordsApi" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <connectionStrings>
    <add name="ClientPortalContext" connectionString="metadata=res://*/Contexts.ClientPortal.csdl|res://*/Contexts.ClientPortal.ssdl|res://*/Contexts.ClientPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=SERVER;Initial Catalog=DB;Persist Security Info=False;User ID=USER;Password=PASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientPortalProgContext" connectionString="" providerName="System.Data.SqlClient" />
    <add name="ClientPortalSearchContext" connectionString="" providerName="System.Data.SqlClient" />
    <add name="DAContext" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" formatter="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" log="Application" machineName="." traceOutputOptions="None" />
      <add name="Account File Listener" formatter="Basic Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" type="CakeExtracter.Logging.EnterpriseLibrary.AccountFileListener, CakeExtracter" fileName="Log{AccountId}_{Date}.log" initializeData="" traceOutputOptions="None" />
      <add name="Rolling Flat File Listener" formatter="Basic Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" rollInterval="Day" rollSizeKB="20000" maxArchivedFiles="30" header="" footer="" />
      <add name="Console Diagnostics Listener" formatter="Basic Text Formatter" type="System.Diagnostics.ConsoleTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Custom Console Listener" formatter="Basic Text Formatter" type="CakeExtracter.Logging.EnterpriseLibrary.ConsoleCustomTraceListener, CakeExtracter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </listeners>
    <formatters>
      <add name="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" />
      <add name="Basic Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="[{severity} - {timestamp} ({win32ThreadId})]: {message} ;; {dictionary([{key} - {value}])}" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Account File Listener" />
          <add name="Custom Console Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <!-- Entity Framework Extensions License Settings-->
    <add key="Z_EntityFramework_Extensions_LicenseName" value="2911;101-DirectAgents" />
    <add key="Z_EntityFramework_Extensions_LicenseKey" value="" />

    <!--<add key="PortalEmail" value="portal@directagent.com"/>-->

    <!--Amazon Advertising Access - START-->
    <add key="AmazonClientId" value="" />
    <add key="AmazonClientSecret" value="" />
    <add key="AmazonAuthorizeUrl" value="https://www.amazon.com/ap/oa" />
    <add key="AmazonTokenUrl" value="https://api.amazon.com/auth/o2/token" />
    <add key="AmazonClientUrl" value="https://dagents-staging.azurewebsites.net" />
    <add key="AmazonWaitTimeSeconds" value="5" />
    <add key="AmazonWaitAttemptsNumber" value="33" />
    <add key="AmazonUnauthorizedAttemptsNumber" value="3" />
    <add key="AmazonReportGenerationAttemptsNumber" value="5" />
    <add key="AmazonFailedRequestAttemptsNumber" value="10" />
    <add key="AmazonIntervalBetweenRequestsInMinutes" value="40" />
    <add key="AmazonAuthCode" value="" /><!-- granted access to ronnie's account -->
    <add key="AmazonRefreshToken" value="" />
    <add key="AmazonReportsBaseFolder" value="C:\Reports\Amazon\Reports" />
    <add key="Amazon_Alt1" value="3697485300977692" /><!-- AvoDerm -->
    <add key="AmazonAuthCode_Alt1" value="" /><!-- granted access to brendan's account -->
    <add key="Amazon_Alt2" value="506658790463709,2809006642760398,272960003405959,3051891166301572,3257737750060910,4345920503201491,1933796952401802,57656933593201,3698781704372872,377243268827098,963178988320866" />
    <!-- Carhartt Sportswear - Mens, Carhartt Women's Collection, Sourcenext, Inc., Walker & Company, Master & Dynamic AMS - US, UK, Spain, Italy, Germany, France, Seller Central -->
    <add key="AmazonAuthCode_Alt2" value="" /><!-- granted access to amazonaccess@directagents.com account -->
    <add key="Amazon_Alt3" value="3335990284144083" /><!-- Living Fresh (this is not Amazon name) -->
    <add key="AmazonAuthCode_Alt3" value="" /><!-- granted access to livingfresh@directagents.com account -->
    <!--Amazon Advertising Access - FINISH-->

    <add key="GmailEmailer_Username" value="portal@directagents.com" />
    <add key="GmailEmailer_Password" value="" />
    <add key="GmailReporting_Email" value="reporting@directagents.com" />
    <add key="GmailReporting_Password" value="" />

    <!--<add key="BudgetAlerts_TestEmail" value="kevin@directagents.com"/>-->
    <add key="BudgetAlerts_Email" value="mediabuyers@directagents.com,search@directagents.com,kevin@directagents.com" />

    <add key="PATH_Search" value="C:\DA\portal\search" /><!-- change for azure-web (excel reps) -->

    <add key="CakeApiKey" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="AdWordsReportFilePath" value="C:\Reports\Adwords\adwordsrep.xml" />
    <!--<add key="AdWordsReportFilePath" value="d:\local\adwordsrep.xml"/>--><!-- azure -->

    <add key="BingCustomerID" value="234647" />
    <add key="BingApiToken" value="" />
    <add key="BingClientId" value="" />
    <add key="BingApiUsername" value="" />
    <add key="BingApiPassword" value="" />
    <add key="BingRedirectionUri" value="https://login.live.com/oauth20_desktop.srf" />
    <add key="BingReportFolder" value="C:\Reports\Bing" />
    <add key="BingReportFilename" value="bingrep.zip" />
    <add key="BingIntervalBetweenRequestsInMinutes" value="60" />

    <add key="CriteoUsername_Folica" value="criteo_folica_api" />
    <add key="CriteoAppToken_Folica" value="" />
    <add key="CriteoUsername_MacMemory" value="macmemory_api" />
    <add key="CriteoAppToken_MacMemory" value="" />
    <add key="CriteoUsername_OriginalJuan" value="originaljuan_api" />
    <add key="CriteoAppToken_OriginalJuan" value="" />
    <add key="CriteoUsername_Wacoal" value="portal@directagents.com" />
    <add key="CriteoAppToken_Wacoal" value="" />
    <add key="CriteoPassword" value="" />
    <add key="CriteoSource" value="DirectAgents-ClientPortal-1" />

    <add key="LocalConnexUsername" value="Portal@directagents.com" />
    <add key="LocalConnexPassword" value="" />

    <add key="AdRollUsername" value="portal@directagents.com" />
    <add key="AdRollPassword" value="" />

    <!--<add key="GoogleAPI_ClientId" value=""/>--><!--kevin-->
    <!--<add key="GoogleAPI_ClientSecret" value=""/>-->
    <add key="GoogleAPI_ClientId" value="" />
    <add key="GoogleAPI_ClientSecret" value="" />

    <add key="GoogleAPI_Certificate" value="271266501f61f25ee49c19a3c5cf3bb9a769ba00-privatekey.p12" />
    <add key="GoogleAPI_ServiceEmail" value="960492209499-cdktdkluj4sj5ee8bto7hdi7m058lfg9@developer.gserviceaccount.com" />

    <!-- Funimation, Bevel, Course Hero, Britbox, American Beauty Star, Course Hero Seeding, Wacoal -->
    <add key="DBM_StrategiesFromLineItems" value="124700741,503077595,516881254,518396307,520462220,613896988,629911907" />
    <!-- report ids(saved as external id of the accounts) -->
    <add key="DBM_CreativeReportIds" value="617572177"/>
    <add key="DBM_LineItemReportIds" value="617039902"/>

    <add key="FacebookToken" value="EAAGjcNa36u0BAOTcTCwTUR0uMfmSX8ZCVjwo41MYBerGT2sVYTIcKpuQyVgmA6YBslHO1HeitgvuzmuAlFh6mpxJQuood78hp3Ys594QklN9Uc7sQwmz5ztfpkb8KpaPUOiY6XoHAhgmJZA7qsPuOexDUj6U1vBCYldLZBdgiXoQgiYhH7y0awIphdnwZAjAYLqpB4lmRQZDZD" />
    <add key="FacebookToken" value="EAAGjcNa36u0BAChHq9GJUeZA0jFuOI2Ci0JRiwUS2KIOEkSieGoxE5cvAAZA6Tu6qfKvcmawyKqEEteR8UVR7c03WpfdVZCishEeXQ2VessGvdHdGjfJtYBQUaWxiRV5X7lbl0CM4uvMywGMWyrZB0ZCjUhdY7BSb6LoPR5ahuYWsm7Xz2nmH" />
    <add key="FacebookApiVersion" value="3.3" />
    <add key="FB_DailyStatsOnly" value="942394955820248,101672655" /><!-- Glamsquad,Zeel -->
    <add key="FB_ConversionsAsMobileAppInstalls" value="1422222644472180" /><!-- PEN -->
    <add key="FB_ConversionsAsPurchases" value="347263619,336866250052482,535516099919912,225275271232242,426158207810613,105894915,169435073491736,10153692856642557,1414035381993350,1414039745326247,1727992100597675,1553661551364065,1619291268134426,1584684654928421,1727998417263710,1556327834430770,1802911503105734,270367453533374,1783970671666484,1783967051666846" />
    <!-- Halcraft,Wacoal,LendKey,BritBoxUs,BritBoxCA,Pimsleur,CovenantHouse,Catbird, Eaglemoss-(StarTrekRegularShips,eCommerceShop,Batmobile,Delorean,Discovery,XL,DCAllStars,DCBusts,Subscription,BattlestarGal,DisneyAn,KnitStich) -->
    <add key="FB_ConversionsAsRegistrations" value="764183110401682" /><!-- FirstLook -->
    <add key="FB_ConversionsAsVideoPlays" value="445900432262095" /><!-- M2M -->
    <!--DB IDs of accounts for the specific values of Conversion Attribution Window-->
    <add key="FB_7d_click" value="1563,1564,1565,1566" /><!-- Funimation SVOD (Funimation accounts for SVOD campaigns) -->
    <add key="FB_7d_view" value="" />
    <add key="FB_28d_click" value="" /> <!--This Conversion Attribution Window is by default now-->
    <add key="FB_28d_view" value="" />
    <add key="FB_AsyncJobWaitingRetriesNumber" value="25" />
    <add key="FB_AsyncJobFailureRetriesNumber" value="5" />

    <add key="YahooAuthBaseUrl" value="https://api.login.yahoo.com/oauth2/get_token" />
    <add key="YahooClientID" value="" />
    <add key="YahooClientSecret" value="" />
    <add key="YahooApplicationAccessCode" value="" />
    <add key="Yahoo_Alt1" value="29353" /><!-- Shutterstock -->
    <add key="YahooClientID_Alt1" value="" />
    <add key="YahooClientSecret_Alt1" value="" />
    <add key="YahooApplicationAccessCode_Alt1" value="" />
    <add key="YAMBaseUrl" value="https://api-sched-v3.admanagerplus.yahoo.com/yamplus_api" />
    <add key="YAM_NumTries_GetReportStatus" value="15" />
    <add key="YAM_NumTries_RequestReport" value="12" />
    <add key="YAM_NumTries_ReportParsing" value="3" />
    <add key="YAM_WaitTime_Seconds" value="180" />
    <add key="YAMids_UsePixelParm" value="19685,27476,21328" /><!-- CovHouse,LornaJane,G&T -->
    <add key="YAM_Map_Day" value="" />
    <add key="YAM_Map_Impressions" value="" />
    <add key="YAM_Map_Clicks" value="" />
    <add key="YAM_Map_ClickThroughConversion" value="" />
    <add key="YAM_Map_ViewThroughConversion" value="" />
    <add key="YAM_Map_ConversionValue" value="" />
    <add key="YAM_Map_AdvertiserSpending" value="" />
    <add key="YAM_Map_CampaignName" value="" />
    <add key="YAM_Map_CampaignId" value="" />
    <add key="YAM_Map_LineName" value="" />
    <add key="YAM_Map_LineId" value="" />
    <add key="YAM_Map_CreativeName" value="" /> <!--Creative - for old stats-->
    <add key="YAM_Map_CreativeId" value="" />
    <add key="YAM_Map_AdName" value="" />
    <add key="YAM_Map_AdId" value="" />
    <add key="YAM_Map_PixelName" value="" />
    <add key="YAM_Map_PixelId" value="" />
    <add key="YAM_Map_PixelParameter" value="" />
    <add key="YamIntervalBetweenRequestsInMinutes" value="20" />

    <!--Outdated-->
    <add key="YAMMap_PostClickConv" value="Click Through Conversion" />
    <add key="YAMMap_PostViewConv" value="View Through Conversion" />
    <add key="YAMMap_PostClickRev" value="" />
    <add key="YAMMap_PostViewRev" value="ROAS Action Value" />
    <add key="YAMMap_StrategyName" value="Line" />
    <add key="YAMMap_StrategyEid" value="Line ID" />
    <add key="YAMMap_CreativeName" value="Ad" />
    <add key="YAMMap_CreativeEid" value="Ad ID" />
    <add key="YAMMap_AdSetName" value="Order" />
    <add key="YAMMap_AdSetEid" value="Order ID" />
    <add key="YAMMap_KeywordName" value="Creative Name" />
    <add key="YAMMap_KeywordEid" value="Creative ID" />
    <add key="YAMMap_SearchTermName" value="Pixel" />

    <add key="AdformClientID" value="" />
    <add key="AdformClientSecret" value="" />
    <add key="Adform_Alt1" value="147033,148569,148570,148571" /><!-- Shutterstock(4) -->
    <add key="AdformClientID_Alt1" value="" />
    <add key="AdformClientSecret_Alt1" value="" />
    <add key="Adform_AccountsWithMultipleMedia" value="32209"/><!--RTB,DBM,TTD,YAM media--><!--Course Hero-->
    <add key="Adform_OrderInsteadOfCampaign" value="43981" /><!--Bevel (Walker & Company)-->
    <add key="Adform_AccountsWithSpecificTracking" value="43981" /><!--Bevel (Walker & Company)-->
    <add key="Adform_AccountsTrackingIds" value="103625" /><!--Bevel Conversions ALL-->
    <add key="AdformMaxPollingRetryAttempt" value="5" />
    <add key="AdformUnauthorizedAttemptsNumber" value="1" />
    <add key="AdformMaxAttemptsNumber" value="3" />
    <add key="AdformQuotaLimitAttemptsNumber" value="10" />
    <add key="AdformPauseBetweenPollingAttemptsSeconds" value="60" />

    <add key="AppleBaseUrl" value="https://api.searchads.apple.com/api/v2/" />
    <!-- the job expects the certificate at this path. -->
    <add key="AppleP12Location" value="C:\Certificates\AppleCertificate{0}.p12" />
    <!--<add key="AppleP12Location" value="d:\home\DA\portal\API\AppleCertificate{0}.p12"/>--><!-- azure -->
    <add key="AppleP12Password" value="" />

    <!-- Amazon DSP Configuration -->
    <add key="AmazonDspAwsAccessKey" value="" />
    <add key="AmazonDspAwsAccessSecret" value="" />
    <add key="AmazonDspAwsAccessReportName" value="DA_AllData_Daily_Last30Days" />

    <!-- Kochava Job Configuration -->
    <add key="KochavaAwsAccessKey" value="" />
    <add key="KochavaAwsAccessSecret" value="" />
    <add key="KochavaAwsBucketName" value="dakochavareportspublic" />
    <add key="KochavaReportPeriod" value="10" />

    <add key="TD_SiteStats_ImpressionThreshold" value="100" /><!-- min # of impressions (n/a if conversions>0) -->

    <!--Syncher sql scripts configuration -->
    <add key="AmazonAmsAsinSyncScriptPath" value="SQL\AMS" />
    <add key="AmazonAmsAsinSyncScriptName" value="SyncAsinAnalyticTable.sql" />

    <!--Commission Junction Configuration-->
    <add key="CJAccessToken" value="" /> <!--DA ETL Commision Junction Token (lburgor)-->
    <add key="CJLockingDateRangeAccountsExternalIds" value="" />
    <add key="CJPostingDateRangeAccountsExternalIds" value="" />
    <add key="CJRequestTimeoutInMilliseconds" value="600000" /> <!--10 min = 1000 ms * 60 s * 10 min-->
    <add key="CJWaitTimeInSeconds" value="10" />
    <add key="CJWaitAttemptsNumber" value="100" />
    <add key="CJIntervalBetweenRequestsInMinutes" value="10" />

    <!--Scheduled Requests Launcher Configuration-->
    <add key="JEM_MaxNumberOfRequestsToRunWithUniqueArguments" value="7" />
    <add key="JEM_MaxNumberOfRunningRequests" value="20" />

    <!--Selenium Configuration-->
    <add key="SeleniumWaitPageTimeoutInMinutes" value="30"/>
    <add key="PDA_EMail" value="" />
    <add key="PDA_EMailPassword" value="" />
    <add key="PDA_CookiesDirectoryName" value="Cookies" />
    <add key="PDA_WaitPageTimeoutInMinutes" value="30" />
    <add key="PDA_MaxRetryAttempts" value="10" />
    <add key="PDA_PauseBetweenAttemptsInSeconds" value="1" />
    <add key="PDA_IntervalBetweenUnsuccessfulAndNewRequestsInMinutes" value="60"/>
    <add key="VCD_ReportDownloadingStartedDelayInSeconds" value="10"/>
    <add key="VCD_MinDelayBetweenReportDownloadingInSeconds" value="30"/>
    <add key="VCD_MaxDelayBetweenReportDownloadingInSeconds" value="100"/>
    <add key="VCD_ReportDownloadingAttemptCount" value="10"/>
    <add key="VCD_ExtractDailyDataAttemptCount" value="5"/>
    <add key="VCD_IntervalBetweenUnsuccessfulAndNewRequestsInMinutes" value="30"/>
    <!--Syncher sql scripts configuration -->
    <add key="VCD_SyncScriptPath" value="SQL\VCD"/>
    <add key="VCD_SyncScriptName" value="SyncVcdAnalyticTable.sql"/>

    <!--Failed Jobs Notifications Configuration -->
    <add key="AzureSendGridApiKey" value="" />
    <add key="JEM_JobFailed_ToEmails" value="" />  
    <add key="JEM_JobFailed_CcEmails" value="" />
    <add key="JEM_ErrorOccurred_ToEmails" value="" />
    <add key="JEM_ErrorOccurred_CcEmails" value="" />
    <add key="JEM_Failure_FromEmail" value="" />

    <!--Automated shut down mechanism configuration -->
    <add key="CommandMaxExecutionTimeInHours_Default" value="10" />

    <add key="CakeEventConversions_MaxRetryAttempts" value="15"/>
    <add key="CakeEventConversions_PauseBetweenAttemptsInSeconds" value="60"/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IReportingService" sendTimeout="00:03:00">
          <security mode="Transport" />
        </binding>
        <binding name="CriteoAdvertiserAPISoap" sendTimeout="00:02:00" maxReceivedMessageSize="100100">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://advertising.criteo.com/API/v201010/AdvertiserService.asmx" binding="basicHttpBinding" bindingConfiguration="CriteoAdvertiserAPISoap" contract="CriteoAPI.CriteoAdvertiserAPISoap" name="CriteoAdvertiserAPISoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework codeConfigurationType="DirectAgents.Domain.Contexts.Configurations.AzureConfiguration, DirectAgents.Domain">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Ads.Common" publicKeyToken="52807268f2b614dc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.5.1.0" newVersion="9.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.168.0" newVersion="1.0.168.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.1.0" newVersion="1.36.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.1.0" newVersion="1.36.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.3" newVersion="4.5.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.3" newVersion="4.5.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" culture="neutral" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.2" newVersion="4.1.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.1.0" newVersion="1.36.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <AdWordsApi>
    <!--
      This section contains the settings specific to AdWords and DoubleClick Ad
      Exchange Buyer API DotNet Client Library. You can use the App.config /
      Web.config for quickly configuring and running a simple application.
      However, it is not mandatory to provide your settings in the config file,
      you may also set or override these settings at runtime. See
      https://code.google.com/p/google-api-adwords-dotnet/wiki/HowToUseAdWordsUser
      for details.

      You can refer to
      https://code.google.com/p/google-api-adwords-dotnet/wiki/UnderstandingAppConfig
      for detailed explanation of each configuration key.
    -->

    <!-- Settings related to SOAP logging. -->
    <add key="LogPath" value="C:\Logs\" />
    <add key="LogToFile" value="false" />
    <add key="MaskCredentials" value="true" />
    <add key="LogErrorsOnly" value="true" />

    <!-- Settings related to general library behaviour. -->

    <!-- Use this key to automatically retry a call that failed due to a
         recoverable error like expired credentials. -->
    <!-- <add key="RetryCount" value="1"/> -->

    <!-- Set the service timeout in milliseconds. -->
    <!-- <add key="Timeout" value="100000"/> -->

    <!-- Use this key to enable or disable gzip compression in SOAP requests.-->
    <add key="EnableGzipCompression" value="true" />

    <!-- Proxy settings for library. -->
    <add key="ProxyServer" value="" />
    <add key="ProxyUser" value="" />
    <add key="ProxyPassword" value="" />
    <add key="ProxyDomain" value="" />

    <!-- Settings specific to AdWords API.-->
    <add key="UserAgent" value="direct-agents-client-portal" />
    <add key="DeveloperToken" value="kEw3EPUPKDwKFpjRRIpm5Q" />

    <!-- If your application is a simple script that makes calls to only a
         single Adwords account, then you can set your customer ID here. If you
         have multiple customer IDs to deal with in your account, then you can
         comment out this key and set the value at runtime by setting
         ((AdWordsAppConfig) user.Config).ClientCustomerId = "xxx";
    -->
    <!--<add key="ClientCustomerId" value="707-036-4439"/>-->

    <!-- Use the following setting to include zero impression rows when
         downloading a report. If this setting is commented out, then the server
         behaves as explained in
         https://developers.google.com/adwords/api/docs/guides/zero-impression-reports#default_behavior.
    -->
    <add key="IncludeZeroImpressions" value="false" />

    <!--<add key="SkipReportHeader" value="false" />
    <add key="SkipReportSummary" value="false" />
    <add key="SkipColumnHeader" value="false" />-->

    <!-- Settings specific to use OAuth2 as authentication mechanism. You could
         run Common\Util\OAuth2TokenGenerator.cs to generate this section of the
         config file.
    -->
    <add key="AuthorizationMethod" value="OAuth2" />
    <!-- Provide the OAuth2 client ID and secret. You can create one from
         https://code.google.com/apis/console/. See
         https://code.google.com/p/google-api-adwords-dotnet/wiki/UsingOAuth
         for more details.
    -->
    <add key="OAuth2ClientId" value="960492209499.apps.googleusercontent.com" />
    <add key="OAuth2ClientSecret" value="YQm_OT5fK7kRARqJnfzmgukv" />

    <!-- The following OAuth2 settings are optional. -->
    <!-- Provide a different OAuth2 scope if required. Multiple scopes should be
         separated by spaces. -->
    <!-- <add key="OAuth2Scope" value="INSERT_OAUTH2_SCOPE_HERE" /> -->

    <!-- Use the following keys if you want to use Web / Installed application
         OAuth flow.-->

    <add key="OAuth2Mode" value="APPLICATION" />
    <!-- If you are using a single MCC account's credentials to make calls to
         all your accounts, then you can run OAuth2TokenGenerator.cs to generate
         a RefreshToken for that account and set this key in your application's
         App.config / Web.config. If you are making calls to multiple unrelated
         accounts, then you need to implement OAuth2 flow in your account and
         set this key at runtime. See OAuth folder under Examples folder for a
         web and a console application example.
    -->
    <add key="OAuth2RefreshToken" value="1/Xw4TBUGFdNlqa547PbwWQNWJPGUkzr3jwrcZAfPJOwE" />

    <!-- Optional: Specify an OAuth2 redirect url if you are building a
         web application and implementing OAuth2 web flow in your application.
    -->
    <!-- <add key="OAuth2RedirectUri" value="" /> -->

    <!-- Use the following keys if you want to use OAuth2 service account flow.
         You should comment out all the keys for Web / Installed application
         OAuth flow above. See
         https://developers.google.com/adwords/api/docs/guides/service-accounts
         and https://code.google.com/p/google-api-adwords-dotnet/wiki/UsingOAuth
         for more details.
    -->
    <!--
    <add key="OAuth2Mode" value="SERVICE_ACCOUNT" />
    <add key="OAuth2PrnEmail" value="INSERT_OAUTH2_USER_EMAIL_HERE" />
    <add key="OAuth2SecretsJsonPath" value="INSERT_OAUTH2_SECRETS_JSON_FILE_PATH_HERE" />
    -->

    <!-- Settings specific to use ClientLogin as authentication mechanism. -->
    <!-- To use ClientLogin as authentication mechanism, uncomment the following
         section and comment the OAuth2 section above. Keep in mind that
         ClientLogin API is deprecated, and its use is strongly discouraged.
         See https://developers.google.com/accounts/docs/AuthForInstalledApps
         for details.-->
    <!--
    <add key="AuthorizationMethod" value="ClientLogin" />   
    <add key="Email" value="aaron@directagents.com"/>
    <add key="Password" value="Welcome2010"/>
    -->
    <!-- Optional: uncomment this if you want to reuse an authToken multiple
         times. -->
    <!-- <add key="AuthToken" value="INSERT_YOUR_AUTH_TOKEN_HERE"/> -->

    <!-- Required for manager accounts only: Specify the login customer ID used to authenticate
         API calls. This will be the customer ID of the authenticated manager account. It should
         be set without dashes, for example: 1234567890 instead of 123-456-7890. You can also
         specify this later in code if your application uses  multiple manager account OAuth pairs.
    -->
    <!--
        <add key = 'LoginCustomerId' value = 'INSERT_LOGIN_CUSTOMER_ID_HERE' />/n/n
    -->
  </AdWordsApi>
</configuration>
