@model ClientPortal.Web.Models.UserInfo

@{
    ViewBag.Title = "Top 50 Site List";
}

@Html.Partial("_ClientBar", Model)

<div id="page_content">
    <div id="container">
        <div id="page_content">
        
        <section>
            <div class="heading"><p>Campaign to Date: 11/6/2015 thru 4/20/2016</p></div>
            <div class="grid">
        <table class="grid" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="col_first">Site</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>CTR</th>
            </tr>
        </thead>
        <tbody>
            <tr class="grey_row">
                <td class="col_first">low volume inventory</td>
                <td>113,703</td>
                <td>105</td>
                <td>0.09 %</td>
             
            </tr>
            <tr>
                <td class="col_first">emgn.com</td>
                <td>92,141</td>
                <td>67</td>
                <td>0.07 %</td>

               
            </tr>
            <tr class="grey_row">
                <td class="col_first">play.google.com</td>
                <td>68,626</td>
                <td>1,097</td>
                <td>1.60 %</td>
               
            </tr>
            <tr>
                <td class="col_first">yahoo.com</td>
                <td>43,222</td>
                <td>95</td>
                <td>0.22 %</td>
            
            </tr>
            <tr class="grey_row">
                <td class="col_first">mediatakeout.com</td>
                <td>44,322</td>
                <td>60</td>
                <td>0.14 %</td>
             
            </tr>
            <tr>
                <td class="col_first">answers.com</td>
                <td>43,425</td>
                <td>81</td>
                <td>0.19 %</td>
               
            </tr>
            <tr class="grey_row">
                <td class="col_first">cnn.com</td>
                <td>24,254</td>
                <td>58</td>
                <td>0.24 %</td>
            
            </tr>
            <tr>
                <td class="col_first">topix.com</td>
                <td>43,222</td>
                <td>95</td>
                <td>0.22 %</td>
               
            </tr>
            <tr class="grey_row">
                <td class="col_first">outlook.com</td>
                <td>23,186</td>
                <td>26</td>
                <td>0.11 %</td>
               
            </tr>
            <tr>
                <td class="col_first">stylebistro.com</td>
                <td>21,863</td>
                <td>6</td>
                <td>0.03 %</td>
           
            </tr>
            <tr class="grey_row">
                <td class="col_first">us.msn.com</td>
                <td>18,181</td>
                <td>22</td>
                <td>0.12 %</td>
                
            </tr>
        </tbody>
    </table>
            </div>
        </section>

        </div>
    </div>
</div>