<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AccountingBackupEntities" connectionString="metadata=res://*/AccountingBackup.AccountingBackupData.csdl|res://*/AccountingBackup.AccountingBackupData.ssdl|res://*/AccountingBackup.AccountingBackupData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=ABWebDatabase1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StagingEntities" connectionString="metadata=res://*/Staging.Staging.csdl|res://*/Staging.Staging.ssdl|res://*/Staging.Staging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=ABWeb_staging;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EomDatabaseEntities" connectionString="metadata=res://*/EOM.EomDatabaseModel.csdl|res://*/EOM.EomDatabaseModel.ssdl|res://*/EOM.EomDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseNov11;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuickBooksContainer" connectionString="metadata=res://*/QuickBooks.QuickBooks.csdl|res://*/QuickBooks.QuickBooks.ssdl|res://*/QuickBooks.QuickBooks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=QuickBooksData;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AaronContainer" connectionString="metadata=res://*/QuickBooks.QuickBooks.csdl|res://*/QuickBooks.QuickBooks.ssdl|res://*/QuickBooks.QuickBooks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=QuickBooksData;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DirectTrackSynchContainer" connectionString="metadata=res://*/DirectTrack.DirectTrackSynch.csdl|res://*/DirectTrack.DirectTrackSynch.ssdl|res://*/DirectTrack.DirectTrackSynch.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DirectTrack3;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DADatabaseDec2011Entities" connectionString="metadata=res://*/EOM.EomModel.csdl|res://*/EOM.EomModel.ssdl|res://*/EOM.EomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseDec2011;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DirectTrack3Entities" connectionString="metadata=res://*/DirectTrack.DirectTrackViewsModel.csdl|res://*/DirectTrack.DirectTrackViewsModel.ssdl|res://*/DirectTrack.DirectTrackViewsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DirectTrack3;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DirectTrackContainer" connectionString="metadata=res://*/DirectTrack.Xsd.DirectTrack.csdl|res://*/DirectTrack.Xsd.DirectTrack.ssdl|res://*/DirectTrack.Xsd.DirectTrack.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DirectTrack4;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoogleDocSpreadsheetsContainer" connectionString="metadata=res://*/GoogleDocs.GoogleDocSpreadsheets.csdl|res://*/GoogleDocs.GoogleDocSpreadsheets.ssdl|res://*/GoogleDocs.GoogleDocSpreadsheets.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=GoogleDocsSpreadsheets;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReportsContainer" connectionString="metadata=res://*/Reports.Reports.csdl|res://*/Reports.Reports.ssdl|res://*/Reports.Reports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=Reports;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ABWebConfig" connectionString="metadata=res://*/AccountingBackup.Config.ABWebConfig.csdl|res://*/AccountingBackup.Config.ABWebConfig.ssdl|res://*/AccountingBackup.Config.ABWebConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=ABWeb_config;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>