@model ClientPortal.Web.Areas.TD.Models.TDReportModel
@{
    var ajaxOptions = new AjaxOptions { UpdateTargetId = "repSumTab" };
    string secondSelectedValue = (Model.AllMetrics.Length > 1) ? Model.AllMetrics[1] : null;
}

<h3>Chart Setup</h3>

@using (Ajax.BeginForm("Summary", ajaxOptions))
{
    <table>
        <tr>
            <td>First Metric:</td>
            <td>@Html.DropDownList("metric1", new SelectList(Model.AllMetrics), new { style = "width:auto"})</td>
        </tr>
        <tr>
            <td>Second Metric:</td>
            <td>@Html.DropDownList("metric2", new SelectList(Model.AllMetrics, secondSelectedValue), new { style = "width:auto"})</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Draw Chart" /></td>
        </tr>
    </table>
}