@model ClientPortal.Web.Areas.TD.Models.TDReportModelWithDates

<div style="height: 35px">
    <select style="width: 140px" id="creative_dateRangeSel" onchange="ChangeDateRange('creative', true)">@* show all in USD for now *@
        <option value="mtd">Month to Date</option>
        <option value="ytd">Year to Date</option>
        <option value="lastmonth">Last Month</option>
        <option value="custom">- custom -</option>
    </select>
    <span class="paddedlabel">Start:</span>
    <input id="creative_startdate" name="startdate" type="text" value="@Model.StartDate" onchange="DateChanged('creative')" />
    <span class="paddedlabel">End:</span>
    <input id="creative_enddate" name="enddate" type="text" value="@Model.EndDate" onchange="DateChanged('creative')" />  @* show all in USD for now *@
    <a class="button paddedbutton" id="creative_filterBtn" href="#" onclick="if($(this).attr('disabled') != 'disabled') RefreshGrid('creative', true); return false">Filter</a>
</div>

<div class="row">
    <div class="large-6 columns">
        <div id="creativeBarChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="creativeBarChart"></div>
            </div>
        </div>
    </div>
    <div class="large-6 columns nosidepadding">
        <div id="creativeScatterChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="creativeScatterChart"></div>
            </div>
        </div>
    </div>
</div>
<div id="creativeGrid" style="margin-top: 10px"></div>
<br />

<script>
    $(document).ready(function () {
        $('#creative_dateRangeSel').kendoDropDownList();
        $('#creative_startdate').kendoDatePicker({ footer: ' ' });
        $('#creative_enddate').kendoDatePicker({ footer: ' ' });

        var datasource = CreateCreativeDataSource();
        CreateCreativeGrid(datasource);
        CreateCreativeCharts(datasource);

        datasource.bind('change', CreativeDataSourceChange);
        datasource.read();
    });

    chartColors = ['#007bc3', '#76b800', '#ffae00', '#ef4c00', '#a419b7', '#430b62'];

    function CreativeDataSourceChange() {
        @* Determine the metric for the bar chart based on what's sorted on *@
        var sort = this.sort();
        if (sort.length > 0 && sort[0].field != 'CreativeName')
            metricForBarChart = sort[0].field;
        if (!metricForBarChart)
            metricForBarChart = 'Clicks';

        var data = this.data();
        PopulateCreativeBarChart(data);
    }

    function PopulateCreativeBarChart(data) {
        var chart = $('#creativeBarChart').data('kendoChart');
        var isNMetric = ($.inArray(metricForBarChart, nMetrics) > -1);
        var isEMetric = ($.inArray(metricForBarChart, eMetrics) > -1);
        if (isEMetric)
            chart.options.series[0].name = 'e' + metricForBarChart;
        else
            chart.options.series[0].name = metricForBarChart;

        var dataFormat = '{0:N0}';
        if (metricForBarChart == 'CTR')
            dataFormat = '{0:P3}';
        else if (metricForBarChart == 'ConvRate')
            dataFormat = '{0:P}';
        else if (metricForBarChart == 'CPM')
            dataFormat = '{0:C3}';
        else if (metricForBarChart == 'Spend' || isEMetric)
            dataFormat = '{0:C}';
        chart.options.valueAxis = [{ labels: { format: dataFormat, step: 2 } }];
        chart.options.series[0].tooltip.format = dataFormat;

        @* Construct the bars (names and values) *@
        chart.options.categoryAxis.categories = new Array();
        chart.options.series[0].data = new Array();
        var maxValue = 0;
        for (var i = 0; i < 5 && i < data.length; i++) {
            chart.options.categoryAxis.categories[i] = data[i].CreativeName;
            chart.options.series[0].data[i] = { value: data[i][metricForBarChart], color: chartColors[i] };
            if (data[i][metricForBarChart] > maxValue)
                maxValue = data[i][metricForBarChart];
        }
        if (isNMetric && maxValue < 4)
            chart.options.valueAxis[0].max = 4;

        chart.redraw();
    }

    function CreateCreativeDataSource() {
        return new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverAggregates: true,
            pageSize: 100,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("CreativeData", "Stats")',
                    data: function () {
                        return {
                            startdate: $('#creative_startdate').val(),
                            enddate: $('#creative_enddate').val(),
                        };
                    }
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                aggregates: 'aggregates',
                model: {
                    id: 'Id',
                    fields: {
                        CreativeID: { type: 'number' },
                        CreativeName: { type: 'string' },
                        Impressions: { type: 'number' },
                        Clicks: { type: 'number' },
                        CTR: { type: 'number' },
                        Conversions: { type: 'number' },
                        Conv: { type: 'number' },@* 1 if there are any conversions, 0 of not *@
                        ConvRate: { type: 'number' },
                        Spend: { type: 'number' },
                        CPM: { type: 'number' },
                        CPC: { type: 'number' },
                        CPA: { type: 'number' }
                    }
                }
            },
            sort: { field: "Impressions", dir: "asc" },
            aggregate: [
                { field: "Impressions", aggregate: "sum" },
                { field: "Clicks", aggregate: "sum" },
                { field: "CTR", aggregate: "agg" },
                { field: "Conversions", aggregate: "sum" },
                { field: "ConvRate", aggregate: "agg" },
                { field: "Spend", aggregate: "sum" },
                { field: "CPM", aggregate: "agg" },
                { field: "CPC", aggregate: "agg" },
                { field: "CPA", aggregate: "agg" }
            ]
            //requestEnd: function (e) {... // for date field
        });
    }

    function CreateCreativeGrid(datasource) {
        $("#creativeGrid").kendoGrid({
            dataSource: datasource,
            autoBind: false,
            height: 500,
            //groupable: true,
            //sortable: true,
            //pageable: {
            //    refresh: true,
            //    pageSizes: true,
            //    buttonCount: 5
            //},
            columns: [
                { field: 'CreativeName', title: 'Creative' },
                { field: 'Impressions', width: 100, attributes: { style: "text-align:right" }, format: '{0:n0}', footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Clicks',      width:  70, attributes: { style: "text-align:right" }, format: '{0:n0}', footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'CTR',         width:  80, attributes: { style: "text-align:right" }, format: '{0:p}',  footerTemplate: "#= kendo.toString(agg, 'p') #",  footerAttributes: { style: "font-weight: bold; text-align: right" } },
            @if (Model.UserInfo.TDAccount.ShowConversions)
            {
                <text>{ field: 'Conversions', width: 100, attributes: { style: "text-align:right" }, format: '{0:n0}', footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },</text>
                <text>{ field: 'ConvRate',    width:  90, attributes: { style: "text-align:right" }, format: '{0:p}',  footerTemplate: "#= kendo.toString(agg, 'p') #",  footerAttributes: { style: "font-weight: bold; text-align: right" } },</text>
            }
                { field: 'Spend',              width: 100, attributes: { style: "text-align:right" }, format: '{0:c}', footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'CPM', title: 'eCPM', width:  70, attributes: { style: "text-align:right" }, format: '{0:c}', footerTemplate: "#= kendo.toString(agg, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'CPC', title: 'eCPC', width:  70, attributes: { style: "text-align:right" }, format: '{0:c}', footerTemplate: "#= kendo.toString(agg, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
            @if (Model.UserInfo.TDAccount.ShowConversions)
            {
                <text>{ field: 'CPA', title: 'eCPA', template: "# if(Conv==0){# N/A #}else{##= kendo.toString(CPA,'c') ##}#", width: 80, attributes: { style: "text-align:right" }, footerTemplate: "#= kendo.toString(agg, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },</text>
            }
            ],
            filterable: false,
            sortable: {
                mode: 'single',
                allowUnsort: false
            },
            pageable: true
        });
    }

    function CreateCreativeCharts(datasource) {
        $("#creativeBarChart").kendoChart({
            theme: $(document).data("kendoSkin") || "default",
            title: {
                text: "Top Creatives"
            },
            legend: {
                position: "bottom"
            },
            categoryAxis: {
                categories: []
            },
            //valueAxis: [
            //    { labels: { step: 2 } }
            //],
            seriesDefaults: {
                type: "bar"
            },
            series: [
                 { name: "", data: [] }
            ],
            tooltip: {
                visible: true
            }
        });

        $("#creativeScatterChart").kendoChart({
            dataSource: datasource,
            autoBind: false,
            theme: $(document).data("kendoSkin") || "default",
            tooltip: {
                visible: true,
                //format: "Impressions: {1:n0} / CTR: {0:p}"
                template: "#= dataItem.CreativeName + '<br/>Impressions: ' + kendo.toString(dataItem.Impressions, 'n0') + ' / CTR: ' + kendo.toString(dataItem.CTR, 'p') #"
            },
            title: {
                text: "Impressions vs. Click-Through Rate"
            },
            //legend: {
            //    position: "bottom"
            //},
            seriesDefaults: {
                type: "scatter"
            },
            series: [{
                xField: "CTR",
                yField: "Impressions",
//                color: function (point) { // supported in newer version of kendo?
//                    return "red";
//                }
            }],
            xAxis: {
                labels: { format: "{0:p}" },
                title: { text: "CTR" }
            },
            yAxis: {
                labels: { format: "{0:n0}" },
                title: { text: "Impressions" }
            }
        });
    }

</script>