@model ClientPortal.Web.Areas.TD.Models.TDReportModel

<div id="creativeChartSection" class="k-content">
    <div class="chart-wrapper">
        <div id="creativeChart"></div>
    </div>
</div>
<div id="creativeGrid"></div>

<script>
    $(document).ready(function () {
        var datasource = CreateCreativeDataSource();
        CreateCreativeGrid(datasource);
        CreateCreativeChart(datasource);
        datasource.read();
    });

    function CreateCreativeDataSource() {
        return new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverAggregates: true,
            pageSize: 100,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("CreativeData", "Reports")'
                    //,data: function () {
                    //    return {
                    //        startdate: $('#daysum_startdate').val(),
                    //        enddate: $('#daysum_enddate').val(),
                    //        offerid: $('#daysum_offerFilter').val()
                    //    };
                    //}
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                aggregates: 'aggregates',
                model: {
                    id: 'Id',
                    fields: {
                        CreativeID: { type: 'number' },
                        CreativeName: { type: 'string' },
                        //AdvertiserCurrency: { type: 'string' },
                        Impressions: { type: 'number' },
                        Clicks: { type: 'number' },
                        CTR: { type: 'number' },
                        Conversions: { type: 'number' },
                        Conv: { type: 'number' },@* 1 if there are any conversions, 0 of not *@
                        ConvRate: { type: 'number' },
                        Spend: { type: 'number' },
                        CPM: { type: 'number' },
                        CPC: { type: 'number' },
                        CPA: { type: 'number' }
                    }
                }
            },
            sort: { field: "Impressions", dir: "desc" },
            aggregate: [
                { field: "Impressions", aggregate: "sum" },
                { field: "Clicks", aggregate: "sum" },
                { field: "CTR", aggregate: "agg" },
                { field: "Conversions", aggregate: "sum" },
                { field: "ConvRate", aggregate: "agg" },
                { field: "Spend", aggregate: "sum" },
                { field: "CPM", aggregate: "agg" },
                { field: "CPC", aggregate: "agg" },
                { field: "CPA", aggregate: "agg" }
            ]
            //requestEnd: function (e) {... // for date field
        });
    }

    function CreateCreativeGrid(datasource) {
        $("#creativeGrid").kendoGrid({
            dataSource: datasource,
            autoBind: false,
            height: 500,
            //groupable: true,
            //sortable: true,
            //pageable: {
            //    refresh: true,
            //    pageSizes: true,
            //    buttonCount: 5
            //},
            columns: [
                { field: 'CreativeName', title: 'Creative' },
                { field: 'Impressions', width: 100, attributes: { style: "text-align:right" }, format: '{0:n0}', footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Clicks',      width: 100, attributes: { style: "text-align:right" }, format: '{0:n0}', footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'CTR',         width: 100, attributes: { style: "text-align:right" }, format: '{0:p}',  footerTemplate: "#= kendo.toString(agg, 'p') #",  footerAttributes: { style: "font-weight: bold; text-align: right" } },
            @if (Model.ShouldShowMetric("Conversions"))
            {
                <text>{ field: 'Conversions', width: 100, attributes: { style: "text-align:right" }, format: '{0:n0}', footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },</text>
                <text>{ field: 'ConvRate',    width: 100, attributes: { style: "text-align:right" }, format: '{0:p}',  footerTemplate: "#= kendo.toString(agg, 'p') #",  footerAttributes: { style: "font-weight: bold; text-align: right" } },</text>
            }
                { field: 'Spend', width: 100, attributes: { style: "text-align:right" }, format: '{0:c}', footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'CPM', title: 'eCPM', width: 100, attributes: { style: "text-align:right" }, format: '{0:c}', footerTemplate: "#= kendo.toString(agg, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
            @if (Model.ShouldShowMetric("Conversions"))
            {
                <text>{ field: 'CPA', title: 'eCPA', template: "# if(Conv==0){# N/A #}else{##= kendo.toString(CPA,'c') ##}#", width: 100, attributes: { style: "text-align:right" }, footerTemplate: "#= kendo.toString(agg, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },</text>
            }
            ],
            filterable: false,
            sortable: true,
            pageable: true
        });
    }

    function CreateCreativeChart(datasource) {
    }

</script>