
<div id="sampleChartSection" class="k-content">
    <div class="chart-wrapper">
        <div id="sampleChart"></div>
    </div>
</div>
<div id="sampleGrid"></div>

<script>
    $(document).ready(function () {
        var datasource = CreateSampleDataSource();
        CreateSampleGrid(datasource);
        CreateSampleChart(datasource);
        datasource.read();
    });

    function CreateSampleDataSource() {
        return new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverAggregates: true,
            pageSize: 100,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("SampleData", "Reports")'
                    //,data: function () {
                    //    return {
                    //        startdate: $('#daysum_startdate').val(),
                    //        enddate: $('#daysum_enddate').val(),
                    //        offerid: $('#daysum_offerFilter').val()
                    //    };
                    //}
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                aggregates: 'aggregates',
                model: {
                    id: 'Id',
                    fields: {
                        Date: { type: 'date' },
                        AdvertiserCurrency: { type: 'string' },
                        Impressions: { type: 'number' },
                        Clicks: { type: 'number' },
                        Conversions: { type: 'number' },
                        Spend: { type: 'number' }
                    }
                }
            },
            //sort: { field: "Date", dir: "asc" },
            aggregate: [
                { field: "Impressions", aggregate: "sum" },
                { field: "Clicks", aggregate: "sum" },
                { field: "Conversions", aggregate: "sum" },
                { field: "Spend", aggregate: "sum" }
            ],
            requestEnd: function (e) {
                if (e.type == "read") {
                    var rows = e.response.data;
                    for (var i = 0; i < rows.length; i++) {
                        rows[i].Date = rows[i].Date.replace(/\d+/, function (n) {
                            var time = parseInt(n);
                            return parseInt(time) + new Date(time).getTimezoneOffset() * 60000;
                        });
                    }
                }
            }
        });
    }

    function CreateSampleGrid(datasource) {
        $("#sampleGrid").kendoGrid({
            dataSource: datasource,
            autoBind: false,
            height: 500,
            //groupable: true,
            //sortable: true,
            //pageable: {
            //    refresh: true,
            //    pageSizes: true,
            //    buttonCount: 5
            //},
            columns: [
                { field: 'Date', format: '{0:d}' },
                { field: 'Impressions', format: '{0:n0}', footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold" } },
                { field: 'Clicks', format: '{0:n0}', footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold" } },
                { field: 'Conversions', format: '{0:n0}', footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold" } },
                { field: 'Spend', footerTemplate: "#= kendo.toString(sum, 'n2') #", footerAttributes: { style: "font-weight: bold" } }
            ],
            filterable: false,
            sortable: false,
            pageable: true
        });
    }

    function CreateSampleChart(dataSource) {
        $("#sampleChart").kendoChart({
            dataSource: dataSource,
            autoBind: false,
            chartArea: {
                height: 300
            },
            theme: $(document).data("kendoSkin") || "default",
            series: [
                { type: "line", field: "Clicks", name: "Clicks", axis: "clicks", markers: { visible: false }, tooltip: { template: "#= kendo.format('{0:d}', category) #: #= kendo.format('{0:N0}',value) #" } },
                { type: "line", field: "Conversions", name: "Conversions", axis: "conversions", tooltip: { template: "#= kendo.format('{0:d}', category) #: #= kendo.format('{0:N0}',value) #" }, dashType: "dot" },
                //{ type: "line", field: "Revenue", name: "Spend", axis: "spend", markers: { visible: false }, tooltip: { template: "#= kendo.format('{0:d}', category) #: #= kendo.format('{0:C}',value) #" } }
                // aggregate: "sum",
            ],
            categoryAxis: {
                baseUnit: "days",
                field: "Date",
                labels: { rotation: -90 },
                axisCrossingValue: [0, 2000]
            },
            valueAxis: [
                { name: "clicks", labels: { format: "N0", step: 2 }, title: { text: "Clicks" } },
                { name: "conversions", labels: { format: "N0", step: 2 }, title: { text: "Conversions" } }
                //{ name: "spend", labels: { format: "C", step: 2 }, title: { text: "Spend" } }
            ],
            tooltip: {
                visible: true
            },
            legend: {
                position: "custom",
                offsetX: 90,
                offsetY: 0
            }
        });
    }
</script>
