@model CampaignAffiliateAmountsModel

<h2>Request Invoice</h2>

Accounting Period: <b>@Model.CurrentEomDateString</b><br />
Advertiser: <b>@Model.AdvertiserName</b>
<br /><br />

Select the amounts to include in the invoice:
<br /><br />

@using (Html.BeginForm("Generate", "Invoices"))
{
    Model.ShowInvoiceCheckboxes = true;
    @Html.Partial("../Workflow/CampaignAffiliateAmounts")
    <text>Hover over a campaign to see its display name (as it will appear in an invoice). Click to edit.</text>
    <br /><br />
    <input type="submit" value="Preview Invoice" />
}