@model CampaignAffiliateAmountsModel

<h2>Request Invoice</h2>

Advertiser: @Model.AdvertiserName
<br /><br />

Select the amounts to include in the invoice:
<br /><br />

@using (Html.BeginForm("Generate", "Invoices"))
{
    Model.ShowCheckboxes = true;
    @Html.Partial("../Workflow/CampaignAffiliateAmounts")
    <br />
    <input type="submit" value="Preview Invoice" />
}