@model IEnumerable<Invoice>

<table>
    <tr>
        <th>Date</th>
        <th>Advertiser</th>
        <th colspan="2">Amount</th>
    </tr>
@foreach (var invoice in Model)
{
    <tr style="background-color: #eee">
        <td>@invoice.DateRequested</td>
        <td>@invoice.Advertiser.name</td>
        <td>@invoice.CurrencyName</td>
        <td>@invoice.Total.ToString("N2")</td>
    </tr>
}
</table>
