@model InvoicesSummary
@{
    var incompleteInvoices = Model.Invoices(false);
    var completeInvoices = Model.Invoices(true);
}

<h2>Invoice Requests</h2>

Accounting Period:
@Html.Partial("ChooseMonth", (SelectList)ViewBag.ChooseMonthSelectList)
<br />

Go to:
@Html.ActionLink("Campaign Summary", "Index", "Workflow")
<br /><br />

@if (incompleteInvoices.Count() > 0)
{
    @Html.Partial("Index", incompleteInvoices)
    <br /><br />
}

@if (completeInvoices.Count() > 0)
{
    @Html.Partial("Index", completeInvoices)
}