@model ClientPortal.Web.Areas.Admin.Models.CPMReportWizardVM
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmReportsTab");
}

<h3>Report Wizard</h3>

First Step: <b>@(Model.Offer.Logo == null ? "Upload" : "Review") logo for offer</b>

@{
    ViewBag.InWizard = true;
}
<table><tr><td>
@Html.Partial("../Offers/EditLogo", Model.Offer)
</td></tr></table>

@Ajax.ActionLink("Go to next step", "Show", new { offerid = Model.Offer.OfferId, step = (int)(Model.Step + 1) }, ajaxOptions)
<br /><br />