@model ClientPortal.Web.Areas.Admin.Models.CPMReportWizardVM
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmReportsTab");
}

<h3>Report Wizard</h3>

Next Step: <b>Synch campaigns with Cake</b>
<table><tr><td>

@Ajax.ActionLink("Click here to synch", "SynchCampaigns", "CPMReportsWizard", new { offerid = Model.Offer.OfferId }, ajaxOptions)
<br /><br />

@if (Model.Offer.Campaigns.Any()) {
    ViewBag.Title = "Existing Campaigns:";
    ViewBag.LastSynch = Model.Offer.LastSynch_Campaigns;
    ViewBag.ShowActions = false;
    @Html.Partial("../Campaigns/Index", Model.Offer.Campaigns.OrderBy(c => c.Affiliate.AffiliateName).ThenBy(c => c.CampaignName))
    <br /><br />
}
</td></tr></table>

@Ajax.ActionLink("Back", "Show", "CPMReportsWizard", new { offerid = Model.Offer.OfferId, step = (int)(Model.Step - 1) }, ajaxOptions) |
@Ajax.ActionLink("Skip", "Show", "CPMReportsWizard", new { offerid = Model.Offer.OfferId, step = (int)(Model.Step + 1) }, ajaxOptions)
<br /><br />