@model ClientPortal.Web.Areas.Admin.Models.CPMReportWizardVM
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmReportsTab");
}

<h3>Report Wizard</h3>

test
<br /><br />

@Ajax.ActionLink("Prev", "Show", "CPMReportsWizard", new { offerid = Model.Offer.OfferId, step = (int)(Model.Step - 1) }, ajaxOptions) |
@Ajax.ActionLink("Skip", "Show", "CPMReportsWizard", new { offerid = Model.Offer.OfferId, step = (int)(Model.Step + 1) }, ajaxOptions)
