@model ClientPortal.Data.Contexts.Offer
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmDropsTab");
}
@if (!Request.IsAjaxRequest())
{
    <h3>Offer-Drop Start</h3>
}
Offer: <b>@Model.DisplayName</b>
<br />
<br />

@if (Model.Campaigns.Any())
{
    @Ajax.ActionLink("Create a new drop", "Show", "CampaignDropsWizard", new { offerid = Model.OfferId, fromreportwizard = false }, ajaxOptions)
}