<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAgents.DirectTrack.Properties.Settings.DADatabaseR1ConnectionString"
            connectionString="Data Source=aaron\sqlexpress;Initial Catalog=DADatabaseR1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>