@model IEnumerable<DirectAgents.Domain.Entities.TD.Account>

<h2>Accounts</h2>

<table>
<tr>
    <th>Platform</th>
    <th>Account</th>
    <th>@Html.ActionLink("stats", "Account", "Stats")</th>
</tr>
@foreach (var acct in Model)
{
<tr>
    <td>@acct.Platform.Name</td>
    <td>@acct.Name</td>
</tr>
}
</table>