@model IEnumerable<DirectAgents.Domain.Entities.TD.Account>

<h2>External Accounts</h2>

<table>
<tr>
    <th>Platform</th>
    <th>Account</th>
</tr>
@foreach (var acct in Model)
{
<tr>
    <td>@acct.Platform.Name</td>
    <td>@acct.Name</td>
</tr>
}
</table>

<br />
@Html.ActionLink("Stats for all external accounts", "Account", "Stats")