@model DirectAgents.Web.Areas.TD.Models.AccountMaintenanceVM
@{
    string latestStatString = Model.LatestStatDate.HasValue ? Model.LatestStatDate.Value.ToShortDateString() : null;
    string synchUrl = Url.Action("Synch", new { id = Model.ExtAccount.Id, start = latestStatString });
}

Latest Stats: @(latestStatString ?? "(none)")
@if (Model.Synchable) {
    <text>&nbsp;&nbsp;</text>
    <a href="#" onclick="SynchAccount(@Model.ExtAccount.Id, '@synchUrl'); return false">Synch</a>
}