@model DirectAgents.Web.Areas.TD.Models.AccountMaintenanceVM
@{
    string latestStatString = Model.LatestStatDate.HasValue ? Model.LatestStatDate.Value.ToShortDateString() : null;
    string syncUrl = Url.Action("Sync", new { id = Model.ExtAccount.Id, start = latestStatString });
}

Latest Stats: @(latestStatString ?? "(none)")
@if (Model.Syncable) {
    <text>&nbsp;&nbsp;</text>
    <a href="#" onclick="SyncAccount(@Model.ExtAccount.Id, '@syncUrl'); return false">Sync</a>
}