@model DirectAgents.Domain.Entities.TD.Campaign
@{
    var start = DateTime.Today.FirstDayOfMonth(-1);
}
<h2>Reporting</h2>

Advertiser: @Model.Advertiser.Name<br />
Campaign: @Model.Name
<br /><br />

@Html.ActionLink("Daily Stats", "Daily", "CampStats", new { campId = Model.Id, start = start.ToRouteString() }, null) |
@Html.ActionLink("Chart", "DailyChart", "CampStats", new { campId = Model.Id }, null)
