@model ClientPortal.Data.Contexts.CakeAdvertiser

<h3>Contact</h3>

<div class="panel four columns">
    <table>
        <tr>
            <td>
                Direct Agents<br />
                740 Broadway, Suite 701<br />
                New York, NY 10003<br />
                <b>P:</b> 212-925-6558<br />
                <b>F:</b> 212-412-9061<br />
                <br />
                <b>Account Manager</b><br />
                @Model.AccountManagerName<br />
                <a href="mailto:abc@directagents.com">abc@directagents.com</a>
            </td>
        </tr>
    </table>
</div>
