@model ClientPortal.Data.Contexts.CakeAdvertiser

<h3>Contact</h3>

<div class="panel four columns">
    <table>
        <tr>
            <td>
                Direct Agents<br />
                740 Broadway, Suite 701<br />
                New York, NY 10003<br />
                <br />
                <b>Account Manager</b><br />
                @Model.AccountManagerName<br />
                email...
            </td>
        </tr>
    </table>
</div>
