@model ClientPortal.Data.Contexts.CakeAdvertiser
@{
    var email = "jennifer@directagents.com";
    if (Model.Advertiser_Id == 207) {
        email = "lyles@directagents.com";
        Model.AccountManagerName = "Lyle Srebnick, SVP";
    }
}

<h3>Contact</h3>

<div class="panel four columns">
    <table>
        <tr>
            <td>
                Direct Agents<br />
                740 Broadway, Suite 701<br />
                New York, NY 10003<br />
                <b>P:</b> 212-925-6558<br />
                <b>F:</b> 212-412-9061<br />
                <br />
                <b>Account Manager</b><br />
                <div style="float: left; width: 65px; padding: 5px; padding-top: 0px; padding-left: 10px;">
                    <img style="border: 2px solid #000;" width="65" src="~/Images/avatar.png">
                </div>
                @Model.AccountManagerName<br />
                <a href="mailto:@email">@email</a>
            </td>
        </tr>
    </table>
</div>
