@model ClientPortal.Web.Models.DashboardModel

<h2>Dashboard</h2>

<div class="panel five columns">
<table>
    <tr>
        <th></th>
        <th>Clicks</th>
        <th>Leads</th>
        <th>Spend</th>
    </tr>
@foreach (var summary in Model.DateRangeSummaries)
{
    <tr>
        <td>@summary.Name</td>
        <td>@String.Format("{0:n0}", summary.Clicks)</td>
        <td>@String.Format("{0:n0}", summary.Conversions)</td>
        <td>@summary.RevenueFormatted</td>
    </tr>
}
</table>
</div>

<div class="panel five columns">
    <table>
        <tr>
            <td>
    Direct Agents<br />
    info 1<br />
    info 2
            </td>
        </tr>
    </table>
</div>