@{
    var now = DateTime.Now;
    var sunday = now;
    while (sunday.DayOfWeek != DayOfWeek.Sunday) { sunday = sunday.AddDays(-1); }

    var today = now.ToShortDateString();
    var yesterday = now.AddDays(-1).ToShortDateString();
    var firstOfMonth = new DateTime(now.Year, now.Month, 1).ToShortDateString();
    var firstOfYear = new DateTime(now.Year, 1, 1).ToShortDateString();
    var firstOfLastMonth = new DateTime(now.Year, now.Month, 1).AddMonths(-1).ToShortDateString();
    var lastOfLastMonth = new DateTime(now.Year, now.Month, 1).AddDays(-1).ToShortDateString();
    var firstOfWeek = sunday.ToShortDateString();
    var firstOfLastWeek = sunday.AddDays(-7).ToShortDateString();
    var lastOfLastWeek = sunday.AddDays(-1).ToShortDateString();
}
<div class="row">
    <div class="six columns toplogo">
        <img src="~/Images/logo1.png" />
    </div>
    <div class="three columns topinfo">
        <p>User@Domain.com</p>
    </div>
    <div class="three columns logout">
        @Html.Partial("_LoginPartial")
    </div>
</div>
<div class="row">
    <div class="twelve columns grayband">
    </div>
</div>
<div class="row">
    <div class="three columns portaltabs-v">
        <dl class="vertical tabs">
            <dd><a href="#vertical1">My Account</a></dd>
            <dd class="active"><a href="#vertical2">Reports</a></dd>
            <dd><a href="#vertical3">Notifications</a></dd>
            <dd><a href="#vertical4">Contacts</a></dd>
        </dl>
    </div>
    <div class="nine columns portaltabs-h">
        <dl class="tabs">
            <dd><a href="#tab1">Performance</a></dd>
            <dd class="active"><a href="#tab2">Offer Summary</a></dd>
            <dd><a href="#tab3">Daily Summary</a></dd>
            <dd><a href="#tab4">Conversion Report</a></dd>
        </dl>
        <ul class="tabs-content">
            <li id="tab1Tab"></li>
            <li id="tab2Tab" class="active">
                <div style="height:35px">
                    <select style="float:left; width:110px" id="dateRangeSel" onchange="ChangeDateRange()">
                        <option value="today">Today</option>
                        <option value="yesterday">Yesterday</option>
                        <option value="wtd">Week to Date</option>
                        <option value="mtd">Month to Date</option>
                        <option value="ytd">Year to Date</option>
                        <option value="lastweek">Last Week</option>
                        <option value="lastmonth">Last Month</option>
                        <option value="custom">- custom -</option>
                    </select>
                    <span style="float:left; margin-left:10px">Start:</span>
                    <input style="float:left; width:100px" id="startdate" name="startdate" type="text" value="@today" onchange="DateChanged()" />
                    <span style="float:left; margin-left:10px">End:</span>
                    <input style="float:left; width:100px" id="enddate" name="enddate" type="text" value="@today" onchange="DateChanged()" />
                    <a class="button" style="padding:3px; margin-left:10px" id="filterBtn" href="#" onclick="RefreshGrid(); return false">Filter</a>
                </div>
                <div id="offerSummaryGrid"></div>
            </li>
            <li id="tab3Tab"></li>
            <li id="tab4Tab"></li>
        </ul>
    </div>
</div>
<footer class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="six columns">
                <p>&copy; 2013 Direct Agents</p>
            </div>
            <div class="six columns">
            </div>
        </div>
    </div>
</footer>

@section head {
    <link href="~/Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2012.3.1114/kendo.bootstrap.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/kendo/2012.3.1114/kendo.web.min.js"></script>
    <script>
        function DateChanged() {
            $('#dateRangeSel').val('custom');
            $('#filterBtn').attr('disabled', false);
        }

        function ChangeDateRange() {
            var refresh = true;
            var dateRange = $('#dateRangeSel').val();
            switch (dateRange) {
                case "today":
                    $('#startdate').val('@today');
                    $('#enddate').val('@today');
                    break;
                case "yesterday":
                    $('#startdate').val('@yesterday');
                    $('#enddate').val('@yesterday');
                    break;
                case "wtd":
                    $('#startdate').val('@firstOfWeek');
                    $('#enddate').val('@today');
                    break;
                case "mtd":
                    $('#startdate').val('@firstOfMonth');
                    $('#enddate').val('@today');
                    break;
                case "ytd":
                    $('#startdate').val('@firstOfYear');
                    $('#enddate').val('@today');
                    break;
                case "lastweek":
                    $('#startdate').val('@firstOfLastWeek');
                    $('#enddate').val('@lastOfLastWeek');
                    break;
                case "lastmonth":
                    $('#startdate').val('@firstOfLastMonth');
                    $('#enddate').val('@lastOfLastMonth');
                    break;
                default:
                    refresh = false;
            }
            if (refresh)
                RefreshGrid();
        }

        function RefreshGrid() {
            $('#offerSummaryGrid').data('kendoGrid').dataSource.read();
            $('#filterBtn').attr('disabled', true);
        }

        $(function () {
            var url = '@Url.Action("OfferSummaryGrid")';

            var dataSource = new kendo.data.DataSource({
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 20,
                transport: {
                    read: {
                        type: 'post',
                        dataType: 'json',
                        url: url,
                        data: function () {
                            return {
                                startdate: $('#startdate').val(),
                                enddate: $('#enddate').val()
                            };
                        }
                    }
                },
                schema: {
                    data: 'data',
                    total: 'total',
                    model: {
                        id: 'OfferId',
                        fields: {
                            Name: { type: 'string' },
                            Format: { type: 'string' },
                            Price: { type: 'number' },
                            Clicks: { type: 'number' },
                            Conversions: { type: 'number' },
                            Revenue: { type: 'number' },
                            //HireDate: { type: 'date' },
                            //Active: { type: 'boolean' }
                        }
                    }
                }
            });

            $('#offerSummaryGrid').kendoGrid({
                dataSource: dataSource,
                height: 400,
                columns: [
                    { field: 'OfferId', title: 'Id', width: 60 },
                    { field: 'Name', title: 'Offer'},
                    { field: 'Format', width: 80 },
                    { field: 'Price', width: 60 },
                    { field: 'Clicks', width: 80 },
                    { field: 'Conversions', title: 'Conv', width: 60 },
                    { field: 'Revenue', width: 90 },
                    //{ field: 'HireDate', title: 'Hire Date', format: "{0:MM/dd/yyyy}" },
                    //{ field: 'Active' }
                ],
                filterable: true,
                sortable: {
                    mode: 'multiple'
                },
                pageable: true
            });

            $('#startdate').kendoDatePicker();
            $('#enddate').kendoDatePicker();
        });
    </script>
}