<div class="row">
    <div class="six columns toplogo">
        <img src="~/Images/logo1.png" />
    </div>
    <div class="three columns topinfo">
        <p>User@Domain.com</p>
    </div>
    <div class="three columns logout">
        <a class="button" href="#">Log Out</a>
    </div>
</div>
<div class="row">
    <div class="twelve columns grayband">
    </div>
</div>
<div class="row">
    <div class="three columns portaltabs-v">
        <dl class="vertical tabs">
            <dd><a href="#vertical1">My Account</a></dd>
            <dd class="active"><a href="#vertical2">Reports</a></dd>
            <dd><a href="#vertical3">Notifications</a></dd>
            <dd><a href="#vertical4">Contacts</a></dd>
        </dl>
    </div>
    <div class="nine columns portaltabs-h">
        <dl class="tabs">
            <dd><a href="#tab1">Performance</a></dd>
            <dd class="active"><a href="#tab2">Offer Summary</a></dd>
            <dd><a href="#tab3">Daily Summary</a></dd>
            <dd><a href="#tab4">Conversion Report</a></dd>
        </dl>
        <ul class="tabs-content">
            <li id="tab1Tab"></li>
            <li id="tab2Tab" class="active">
                (2/1/13 to present)
                <div id="offerSummaryGrid"></div>
            </li>
            <li id="tab3Tab"></li>
            <li id="tab4Tab"></li>
        </ul>
    </div>
</div>
<footer class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="six columns">
                <p>&copy; 2013 Direct Agents</p>
            </div>
            <div class="six columns">
            </div>
        </div>
    </div>
</footer>

@section head {
    <link href="~/Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2012.3.1114/kendo.bootstrap.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/kendo/2012.3.1114/kendo.web.min.js"></script>
    <script>
        $(function () {
            var url = '@Url.Action("OfferSummaryGrid")';

            var dataSource = new kendo.data.DataSource({
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 20,
                transport: {
                    read: {
                        type: 'post',
                        dataType: 'json',
                        url: url
                    }
                },
                schema: {
                    data: 'data',
                    total: 'total',
                    model: {
                        id: 'OfferId',
                        fields: {
                            Name: { type: 'string' },
                            Format: { type: 'string' },
                            Price: { type: 'number' },
                            Clicks: { type: 'number' },
                            Conversions: { type: 'number' },
                            Revenue: { type: 'number' },
                            //HireDate: { type: 'date' },
                            //Active: { type: 'boolean' }
                        }
                    }
                }
            });

            $('#offerSummaryGrid').kendoGrid({
                dataSource: dataSource,
                height: 400,
                columns: [
                    { field: 'OfferId', title: 'Id', width: 60 },
                    { field: 'Name', title: 'Offer'},
                    { field: 'Format', width: 80 },
                    { field: 'Price', width: 60 },
                    { field: 'Clicks', width: 80 },
                    { field: 'Conversions', title: 'Conv', width: 60 },
                    { field: 'Revenue', width: 90 },
                    //{ field: 'HireDate', title: 'Hire Date', format: "{0:MM/dd/yyyy}" },
                    //{ field: 'Active' }
                ],
                filterable: true,
                sortable: {
                    mode: 'multiple'
                },
                pageable: true
            });
        });
    </script>
}