<div class="chart-wrapper">
    <div id="perfChart"></div>
</div>

<script>
    function CreatePerformanceChart(categories, values, valueFormat, culture, height) {
        kendo.culture(culture);
        $("#perfChart").kendoChart({
            chartArea: {
                height: height
            },
            legend: {
                visible: false
            },
            seriesDefaults: {
                type: "column"
            },
            series: [{
                data: values
            }],
            valueAxis: {
                labels: { format: valueFormat, step: 2 },
                title: { text: "Leads" }
            },
            categoryAxis: {
                categories: categories
            },
            tooltip: {
                visible: true,
                format: valueFormat
            }
        });
    }

    function UpdatePerformanceChartValues(categories, values) {
        var chart = $('#perfChart').data('kendoChart');
        chart.options.categoryAxis.categories = categories;
        chart.options.series[0].data = values;
        chart.redraw();
    }
</script>
