<div class="chart-wrapper">
    <div id="spendChart"></div>
</div>
<div class="chart-wrapper">
    <div id="spendLineChart"></div>
</div>

<script>
    function CreateSpendChart(value, valueFormat, culture, catName, height) {
        kendo.culture(culture);
        $("#spendChart").kendoChart({
            chartArea: {
                height: height,
                margin: { left: 58 }
            },
            legend: {
                visible: false
            },
            seriesDefaults: {
                type: "bar"
            },
            series: [{
                data: [value]
            }],
            valueAxis: {
                labels: { format: valueFormat, step: 2 }
            },
            categoryAxis: {
                categories: [catName]
            },
            tooltip: {
                visible: true,
                format: valueFormat
            }
        });
    }
    function UpdateSpendChart(value) {
        var chart = $('#spendChart').data('kendoChart');
        chart.options.series[0].data = [value];

        var step = 2;
        if (value >= 800000) step = 3;
        chart.options.valueAxis.labels.step = step;

        chart.redraw();
    }

    function CreateDailySpendDataSource(url)
    {
        return new kendo.data.DataSource({
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: url,
                    data: function () {
                        return {
                            startdate: $('#dash_startdate').val(),
                            enddate: $('#dash_enddate').val()
                        };
                    }
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                model: {
                    id: 'Id',
                    fields: {
                        Date: { type: 'date' },
                        Impressions: { type: 'number' },
                        Clicks: { type: 'number' },
                        Conversions: { type: 'number' },
                        ConversionPct: { type: 'number' },
                        Revenue: { type: 'number' },
                        EPC: { type: 'number' }
                    }
                }
            },
            sort: { field: "Date", dir: "asc" },
            aggregate: [
                { field: "Conversions", aggregate: "sum" },
                { field: "Revenue", aggregate: "sum" }
            ],
            requestEnd: function (e) {
                if (e.type == "read") {
                    var infos = e.response.data;
                    for (var i = 0; i < infos.length; i++) {
                        infos[i].Date = infos[i].Date.replace(/\d+/, function (n) {
                            var time = parseInt(n);
                            return parseInt(time) + new Date(time).getTimezoneOffset() * 60000;
                        });
                    }
                }
            }
        });
    }

    function CreateSpendLineChart(dataSource, title, height)
    {
        $("#spendLineChart").kendoChart({
            dataSource: dataSource,
            autoBind: false,
            chartArea: {
                height: height,
                margin: { right: 28 }
            },
            series: [
                {
                    type: "line",
                    field: "Revenue",
                    name: "Daily Spend",
                    axis: "spend",
                    markers: { visible: false }
    }
            ],
            categoryAxis: {
                baseUnit: "days",
                field: "Date",
                labels: { rotation: -90 }
            },
            valueAxis: [
                {
                    name: "spend",
                    labels: { format: "C", step: 2 },
                    title: { text: title }
                }
            ],
            legend: {
                visible: false
            },
            tooltip: {
                visible: true,
                format: "C",
                template: "#= kendo.format('{0:d}',category) #: #= kendo.format('{0:C}',value) #"
            }
        });
    }
    function UpdateSpendLineChart() {
        var chart = $('#spendLineChart').data('kendoChart');

        var total = chart.dataSource.total();
        chart.options.categoryAxis.labels.step = Math.ceil(total / 31);

        var spark = (total > 62);
        if (spark) {
            //chart.options.valueAxis.majorGridLines.visible = false;
            chart.options.categoryAxis.majorGridLines.visible = false;
            chart.options.series[0].markers.visible = false;
        } else {
            //chart.options.valueAxis.majorGridLines.visible = true;
            chart.options.categoryAxis.majorGridLines.visible = true;
            chart.options.series[0].markers.visible = true;
        }
        chart.redraw();
    }

</script>
