<div class="chart-wrapper">
    <div id="spendChart"></div>
</div>
<div class="chart-wrapper">
    <div id="spendLineChart"></div>
</div>

<script>
    function CreateSpendChart(values, valueFormat, culture, catName, height) {
        kendo.culture(culture);
        $("#spendChart").kendoChart({
            chartArea: {
                height: height
            },
            legend: {
                visible: false
            },
            seriesDefaults: {
                type: "bar"
            },
            series: [{
                data: values
            }],
            valueAxis: {
                labels: { format: valueFormat, step: 2 }
            },
            categoryAxis: {
                categories: [catName]
            },
            tooltip: {
                visible: true,
                format: valueFormat
            }
        });
    }

    function CreateDailySpendDataSource(url)
    {
        return new kendo.data.DataSource({
            pageSize: 62,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: url,
                    data: function () {
                        return {
                            startdate: $('#dash_startdate').val(),
                            enddate: $('#dash_enddate').val()
                        };
                    }
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                model: {
                    id: 'Id',
                    fields: {
                        Date: { type: 'date' },
                        Impressions: { type: 'number' },
                        Clicks: { type: 'number' },
                        Conversions: { type: 'number' },
                        ConversionPct: { type: 'number' },
                        Revenue: { type: 'number' },
                        EPC: { type: 'number' }
                    }
                }
            },
            sort: { field: "Date", dir: "asc" }
        });
    }
    function CreateSpendLineChart(dataSource, title, height)
    {
        $("#spendLineChart").kendoChart({
            dataSource: dataSource,
            autoBind: false,
            chartArea: {
                height: height
            },
            series: [
                {
                    type: "line",
                    field: "Revenue",
                    name: "Daily Spend",
                    axis: "spend"
                }
            ],
            categoryAxis: {
                baseUnit: "days",
                field: "Date",
                labels: { rotation: -90 }
            },
            valueAxis: [
                {
                    name: "spend",
                    labels: { format: "C", step: 2 },
                    title: { text: title }
                }
            ],
            legend: {
                visible: false
            },
            tooltip: {
                visible: true,
                format: "C"
            }
        });
    }
    function CreateWeeklySpendBarChart(divId, dataSource, height)
    {
        $("#" + divId).kendoChart({
            dataSource: dataSource,
            autoBind: false,
            chartArea: {
                height: height
            },
            series: [
                {
                    type: "column",
                    aggregate: "sum",
                    field: "Revenue",
                    axis: "spend"
                }
            ],
            categoryAxis: {
                baseUnit: "weeks",
                field: "Date",
                title: { text: "Week of..." }
            },
            valueAxis: [
                {
                    name: "spend",
                    labels: { format: "C", step: 2 }
                }
            ],
            legend: {
                visible: false
            },
            tooltip: {
                visible: true,
                format: "C"
            }
        });
    }

    function CreateMonthlySpendDataSource(url, startdate, enddate) {
        return new kendo.data.DataSource({
            pageSize: 24,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: url,
                    data: { startdate: startdate, enddate: enddate }
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                model: {
                    id: 'Id',
                    fields: {
                        Year: { type: 'number' },
                        Month: { type: 'number' },
                        Period: { type: 'date' },
                        Revenue: { type: 'number' },
                    }
                }
            },
            sort: { field: "Period", dir: "asc" }
        });
    }

    function CreateMonthlySpendBarChart(divId, dataSource, height) {
        $("#" + divId).kendoChart({
            dataSource: dataSource,
            autoBind: false,
            chartArea: {
                height: height
            },
            series: [
                {
                    type: "column",
                    field: "Revenue",
                    axis: "spend"
                }
            ],
            categoryAxis: {
                field: "Period"
            },
            valueAxis: [
                {
                    name: "spend",
                    labels: { format: "C", step: 2 }
                }
            ],
            legend: {
                visible: false
            },
            tooltip: {
                visible: true,
                format: "C"
            }
        });
    }
</script>
