<div class="chart-wrapper">
    <div id="spendChart"></div>
</div>

<script>
    function CreateSpendChart(values, valueFormat, culture, catName, height) {
        kendo.culture(culture);
        $("#spendChart").kendoChart({
            chartArea: {
                height: height
            },
            legend: {
                visible: false
            },
            seriesDefaults: {
                type: "bar"
            },
            series: [{
                data: values
            }],
            valueAxis: {
                labels: { format: valueFormat }
            },
            categoryAxis: {
                categories: [catName]
            },
            tooltip: {
                visible: true,
                format: valueFormat
            }
        });
    }
</script>
