@model AffiliatesListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var affiliate in Model.Affiliates)
{
    <i>@affiliate.name</i> <br />
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>