@model PayoutsListViewModel
<style type="text/css">
    .active
    {
        background-color: Gray;
    }
</style>
<div id="payoutGrid" style="height: 300px; border: 1px solid black">
</div>
<script type="text/javascript">
function RenderGrid(data)
{
    var columns = [
             //{ id: "publisher", name: "Publisher", field: "Publisher", width: 200 }
             { id: "campaign", name: "Campaign", field: "Campaign_Name", width: 300, cssClass: "cell-title", sortable: true }
            ,{ id: "costperunit", name: "Cost/Unit", field: "Cost_Unit", width: 120, sortable: true }
            ,{ id: "units", name: "Units", field: "Units", width: 120, sortable: true }
            ,{ id: "pctmargin", name: "%Margin", field: "MarginPct", width: 120, sortable: true }
            ,{ id: "netterms", name: "Terms", field: "Net_Terms", width: 120, sortable: true }
            ,{ id: "paycurr", name: "Pay Curr", field: "Pub_Pay_Curr", width: 120, sortable: true }
            ,{ id: "pubpayout", name: "Payout", field: "Pub_Payout", width: 120, sortable: true }
            ,{ id: "cmpnstatus", name: "Campn Status", field: "Status", width: 120, sortable: true }
            ,{ id: "acctgstatus", name: "Acctng Status", field: "Accounting_Status", width: 120, sortable: true }
            ,{ id: "approval", name: "Approval", field: "Media_Buyer_Approval_Status", width: 120, sortable: true }
        ];
    var options = {
        enableCellNavigation: true,
        enableColumnReorder: false,
        autoHeight: false,
        enableTextSelectionOnCells: true
    };
    var grid = new Slick.Grid("#payoutGrid", data, columns, options);
    grid.onSort.subscribe(function(e, args){ // args: sort information. 
        var field = args.sortCol.field;
        data.sort(function(a, b){
            var result = 
                a[field] > b[field] ? 1 :
                a[field] < b[field] ? -1 :
                0
            ; 
            return args.sortAsc ? result : -result;
        });
        grid.setData(data);
        grid.updateRowCount();
        grid.render();         
    });
}
</script>
