@model LTWeb.Models.QuestionVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Questions", FormMethod.Post, new { id = "questionForm" }))
{
    <input type="hidden" name="test" value="true" />
    <div style="width:380px; border-width:2px; border-style:solid; overflow:hidden">
    @{
        Html.RenderPartial("ShowInner");
        LTWeb.Models.QuestionVM subquestion = Model.SamePageQuestion;
        while (subquestion != null)
        {
            <br />
            Html.RenderPartial("ShowInner", subquestion);
            subquestion = subquestion.SamePageQuestion;
        }
    }
        <br style="clear:both" />
        <input type="submit" value="Submit (no javascript)" />
    </div>
}

<br />
<input type="button" value="Save (ajax)" onclick="Save()" />

<br /><br />
@Html.ActionLink("Next Question", "Show", new { q = Model.QuestionIndex + 1, test = true })
| @Html.ActionLink("Question 19", "Show", new { q = 19, test = true })

<br /><br />
<pre>@LTWeb.Session.LTModel.GetXMLForPost())</pre>

@section Scripts {
<script type="text/javascript">
    function Save() {
        var form = $('#questionForm');
        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function (response) {
                alert('success!');
            }
        });
    }
</script>
}