@model LTWeb.Models.QuestionVM

<div id="submit-0" class="submitboard">
    <div class="read-detail">
        <h5 class="small-caption">
            By clicking on the button above,  consent, acknowledge and agree to the following and accept:</h5>
        <div class="scroll-content-block">
            <div class="accept-detail-panel">
                <ul>
                    <li>Our <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/terms-of-use')">
                        <span>Terms of Use Agreement</span></a> and <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/privacy-policy', 550, 450)">
                            <span>Privacy Policy</span></a></li>
                   <li>To receive important notices, and other <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/network-lenders-consent')">communications</a> at any telephone number or email address (including a mobile device) you entered so 

                                            that LendingTree, up to five (5) lenders with whom you have been matched, or one of its third party associates can reach you regarding this request. 

                                            This authorization removes any previous registration(s) on a federal or state Do-Not-Call (DNC) registry or any internal opt-out/unsubscribe requests you may have previously 

                                            requested with LendingTree or matched lenders.</li>

                                            <li>That LendingTree, a lender with whom you have been matched, or one of its third party associates may use an automatic dialing system in connection 

                                            with calls made to any telephone number you entered, even 

                                            if it is a cellular phone number or other service for which the called person(s) could be charged for such call.</li>
                                            <li>That I have received and reviewed the <a href="javascript:STMRCWindow('https://secure.lendingtree.com/stmrc/brokerstatedisclosure.asp?state=@Model.State')">

                                                Mortgage Broker Disclosures</a> for my state <span id="myStateDisclosure">@Model.State</span></li>
                                            <li>

                                            You are providing written consent under the Fair Credit Report Act for LendingTree, LLC and its 

                                            lenders with whom you are matched to obtain consumer report "soft inquiry" 

                                            information from your credit profile or other information from our contracted Credit Bureau.

                                            </li>
                </ul>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <img class="privacy-security-logo" src="~/Content/images/privacy-security-logo.gif" alt="privacy-security-logo" />
</div>
