<div id="submit-0" class="submitboard">
    <div class="read-detail">
        <h5 class="small-caption">
            By clicking on the button above,  consent, acknowledge and agree to the following and accept:</h5>
        <div class="scroll-content-block">
            <div class="accept-detail-panel">
                <ul>
                    <li>our <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/termsofuse?popup=true')">
                        <span>Terms of Use Agreement</span></a> and <a href="javascript:STMRCWindow('http://www.lendingtree.com/stmrc/privacy.asp?popup=true&bp=ltquickmatch', 550, 450)">
                            <span>Privacy Policy</span></a></li>
                    <li>to receive important notices, disclosures and other communications ("Disclosures and Communications") in electronic form (either email or via the Internet) as 
                    provided for in this
                        <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/network-lenders-consent?popup=true')">
                            <span>Consent to Receive Electronic Disclosures from Lending Tree and/or our Network Lenders</span></a>
                            In addition, if you proceed with a Loan Application with 
                            our Network Lenders, they can provide you with Disclosures and Communications in Electronic form. You understand that you will need an email address, Internet 
                            access and PDF software to review the Disclosures and Communications.</li>
                    <li>that we may access your credit file even if your social security number is not provided.</li>
                                            
                </ul>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <img class="privacy-security-logo" src="~/Content/images/privacy-security-logo.gif" alt="privacy-security-logo" />
</div>