.summarytable {
    border-spacing: 0;
    border-collapse: collapse;
}

.summarytable th {
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px;
}

.summarytable td {
    border: solid 1px;
}

#windowGoal select {
    margin: 0 0 12px 0;
}

.row {
    width: 100%;
}

footer.row {
    color: white;
    background-color: #25579D;
    height: 30px;
    position: fixed;
    bottom: 0;
}

.row div.grayband {
    background-color: #F3F3F3;
    height: 70px;
}

.row div.portaltabs-h {
    margin-top: -40px;
}

.row div.portaltabs-v {
    margin-top: 20px;
}

    .row div.portaltabs-v dl {
        margin-top: 20px;
    }

.row div.topinfo {
    margin-top: 30px;
    padding-top: 8px;
}

.row div.logout {
    margin-top: 30px;
}

    .row div.logout a.button {
        background-color: #3195F3;
    }


.row div.toplogo {
    margin-top: 10px;
}

.tabs dd.active, .tabs li.active {
    background-color: #3195F3;
}

.tabs.vertical dd.active, .tabs.vertical li.active {
    border-left: none;
    border-right: 4px solid #3195F3;
    border-top: none;
}

    .tabs.vertical dd.active a, .tabs.vertical li.active a {
        background-color: white;
        color: black;
        font-weight: bold;
    }

.tabs.vertical dd, .tabs.vertical li {
    border-left: none;
}

.tabs.vertical {
    border-top: 1px solid #e6e6e6;
}