.logindiv form {
    margin: 0;
}
fieldset ul, .validation-summary-errors ul {
    list-style: none;
}
.validation-summary-errors {
    color: red;
}
label.checkbox {
    display: inline;
}

.paddedlabel {
    margin-left: 5px;
}
.paddedbutton {
    padding: 3px;
    margin-left: 5px;
}
.exportbutton {
    float: right;
    margin-top: 2px;
}
.statsnote {
    float: right;
    margin-right: 110px;
    margin-top: 4px;
}

.subtext {
    font-size: 11px;
}

.k-datepicker {
    width: 110px;
}

table {
    margin: 0px;
}
table tbody tr td {
    padding: 2px 5px;
}
fieldset {
    margin: 10px 0px;
}

.summarytable {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.summarytable th {
    padding-left: 10px;
    padding-right: 10px;
}
.summarytable th, .summarytable td {
    border: 1px solid;
    border-color: lightgray;
}
.summarytable th {
    text-align: center;
}
.summarytable td {
    text-align: center;
}

.offergoalsheader {
    margin: 2px;
}
.goaltexttable {
    background: inherit;
    margin: 0px;
    border: 0px;
}
.goaltexttable tbody tr:nth-child(even) {
    background: inherit;
}
.goaltexttable td {
    padding: 0px 2px;
}
.goaltexttable .tdfirst {
    padding-left: 0px;
}

#windowGoal select {
    margin: 0 0 12px 0;
}

.row {
    width: 100%;
}

footer.row {
    color: white;
    background-color: #25579D;
    height: 30px;
    position: fixed;
    bottom: 0;
}

.row div.grayband {
    background-color: #F3F3F3;
    height: 43px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.row div.portaltabs-h {
    margin-top: -40px;
}

.row div.portaltabs-v {
    margin-top: 0px;
}

    .row div.portaltabs-v dl {
        margin-top: 14px;
    }

.row div.topinfo {
    padding-top: 8px;
}

.row div.logout {
    margin-top: 30px;
}

    .row div.logout a.button {
        background-color: #3195F3;
    }


.row div.toplogo {
    margin-top: 10px;
}

.tabs dd.active, .tabs li.active {
    background-color: #3195F3;
}

.tabs.vertical dd.active, .tabs.vertical li.active {
    border-left: none;
    border-right: 4px solid #3195F3;
    border-top: none;
}

    .tabs.vertical dd.active a, .tabs.vertical li.active a {
        background-color: white;
        color: black;
        font-weight: bold;
    }

.tabs.vertical dd, .tabs.vertical li {
    border-left: none;
}

.tabs.vertical {
    border-top: 1px solid #e6e6e6;
}

#divTopStates .k-grid-content
{
    overflow-y: auto;
}

.display-label, .editor-label label, .editor-field label {
    font-weight: bold;
}
.editor-field, .display-field {
    margin-bottom: 12px;
}