#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu #menu-button.menu-opened:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    border-top: 0px solid #dddddd;
    border-bottom: 0px solid #dddddd;
    content: '';
  }

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: 'Open Sans', sans-serif;
  background: none;
  font-weight: 300px;
}


#cssmenu > ul > li {
  float: left;
  background: #2d599d;
  height: 100px;
}

#cssmenu > ul > li.executive,
#cssmenu > ul > li.summary-report {
  float: left;
  background: #2d599d;
  height: 100px;
  width:110px;
  border-top: 4px solid #B9D532;
}

#cssmenu > ul > li.strategy-summary,
#cssmenu > ul > li.search-reports {
  float: left;
  background: #2d599d;
  height: 100px;
  width:110px;
  border-top:4px solid #9FC8FF;
}

#cssmenu > ul > li.weekly-summary {
  float: left;
  background: #2d599d;
  height: 100px;
  width:110px;
  border-top:4px solid #F9EA12;
}
#cssmenu > ul > li.programmatic-reports {
  float: left;
  background: #2d599d;
  height: 100px;
  width:160px;
  border-top:4px solid #F9EA12;
}

#cssmenu > ul > li.creative-performance {
  float: left;
  background: #2d599d;
  height: 100px;
  width:140px;
  border-top:4px solid #FF8A00;
}
#cssmenu > ul > li.contact {
  float: left;
  background: #2d599d;
  height: 100px;
  width:100px;
  border-top:4px solid #FF8A00;
}

#cssmenu > ul > li.site-list {
  float: left;
  background: #2d599d;
  height: 100px;
  width:100px;
  border-top:4px solid #b9d342;
}

#cssmenu > ul > li.lead-id {
  float: left;
  background: #2d599d;
  height: 100px;
  width:100px;
  border-top:4px solid #FF8A00;
}

#cssmenu > ul > li.logout {
  float: left;
  background: #2d599d url("../Images/glyphicon-off.png") 0% 30% no-repeat;
  height: 100px;
  width:95px;
  padding-left:10px;
  border-top:4px solid #2d599d;
}

#cssmenu > ul > li.logout:hover {
  float: left;
  background: #2d599d url("../Images/glyphicon-off.png") 0% 30% no-repeat;
  height: 100px;
  width:95px;
  padding-left:10px;
  border-top:4px solid #2d599d;
}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li a {
  padding: 25px 17px 0 17px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
  text-decoration: none;
  color: #dddddd;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

#cssmenu > ul > li:hover {
  background:#3a75d2;
}

#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}

#cssmenu .submenu {margin-top:35px;}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 210px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #2d599d;
  border:1px solid #fff;
  z-index:100;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

.section-block-left{float:left; margin-top:30px;  width:45%;}
.section-block-right{float:right; margin-top:30px;  width:45%;}

.show-export{text-align:left; margin:10px 0 10px 0;}
.show{display:inline; width:50%; text-align:left; margin:10px 0 10px 0; clear:both;}
.export{display:inline; float:right; width:50%; text-align:right; margin:10px 0 10px 0; clear:both;}

.filter-export{text-align:left; margin:10px 0 10px 0;}


/**Contact Page**/

.content_box_contact_left {padding:0px;}
.content_box_contact_right {float:left; width:99.6%; padding:0px; border-bottom:1px #666 solid; border-left:1px #666 solid; border-right:1px #666 solid;}
.section-block-left-contact{float:left; margin-top:30px; width:34.3%;}
.section-block-right-contact{float:right; margin-top:30px;  width:55%;}

.map{border-bottom:1px #666 solid; border-left:1px #666 solid; border-right:1px #666 solid;}
.address{border-bottom:1px #666 solid; border-left:1px #666 solid; border-right:1px #666 solid; padding:20px; color:#666666;}


.team{float:left; width:38%; text-align: center; padding:34px;}

.team .title{text-align: center; color:#666666;}

.team h3{
    font-size: 1.17em;
    font-weight: bold;
    line-height:0px;
    color:#666666;
}

.team img{ width:100px; display:block; margin: 0 auto;  border-radius: 50%;}

.team .email a{float:left; width:100%; margin-top:15px; text-align: center; color:#b9d342;}


/**Manage Account Page**/

.section-block-left-account{float:left; margin-top:30px; width:100%;}

.content_box_account_left {padding:0px; padding:47px 0 100px 0; width:52.2%; float:left; border-left:1px #666 solid; border-right:0px #666 solid;  border-bottom:1px #666 solid; }

.content_box_account_right {padding:0px; margin:0px 0 0 0; width:47.6%; float:left; border-left:1px #666 solid; border-right:0px #666 solid;  border-bottom:1px #666 solid; }

.content_box_account_right img {width:100%;}

.tablet{border-bottom:1px #666 solid; border-left:1px #666 solid; border-right:1px #666 solid;}
.tablet img {display:block;}

.loggedin{float:left; width:100%; text-align:center; padding:20px 0 20px 0px;}

.form{float:left; width:100%; text-align:center; border:none; padding:0px; color:#666666;}

.section-block-left-account .row {margin:15px 0 15px 0;}

.section-block-left-account .row-btn {margin:25px 0 25px 0;}

.section-block-left-account input[type="password"] {
    width: 300px;
    padding:15px;
    margin:0 auto;
    display: block;
    margin-bottom: 10px;
    background-color: white;
    font-size:18px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:1px #666666 solid;
    text-align: center;
    color:#5391c9;
}

.section-block-left-account input[type="submit"] {
    width: 250px;
    padding:20px;
    margin:0 auto;
    display: block;
    margin-bottom: 10px;
    background: #b9d342;
    border:none;
    font-size:18px;
    text-align: center;
    color:#fff;

}

.forgot-password{font-size:12px;}

::-webkit-input-placeholder {
   color:#5391c9;
}

:-moz-placeholder { /* Firefox 18- */
   color:#5391c9;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#5391c9;
}

:-ms-input-placeholder {
   color:#5391c9;
}

#container {
  width: 95%;
  max-width: none !important;
}


@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {

  #container {
    width: 100%;
  }

  .logo {
    width: 100%;
  }

  #cssmenu {
    width: 100%;
    z-index: 99;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }

  #cssmenu > ul > li a {
    padding: 15px 17px 15px 17px;
  }  

  #cssmenu > ul > li.executive,
  #cssmenu > ul > li.summary-report {
    float: left;
    background: #2d599d;
    height: 100%;
    width:100%;
    border-top: 4px solid #B9D532;
  }

  #cssmenu > ul > li.strategy-summary,
  #cssmenu > ul > li.search-reports {
    float: left;
    background: #2d599d;
    height: 100%;
    width:100%;
    border-top:4px solid #9FC8FF;
  }

  #cssmenu > ul > li.weekly-summary,
  #cssmenu > ul > li.programmatic-reports {
    float: left;
    background: #2d599d;
    height: 100%;
    width:100%;
    border-top:4px solid #F9EA12;
  }

  #cssmenu > ul > li.creative-performance {
    float: left;
    background: #2d599d;
    height: 100%;
    width:100%;
    border-top:4px solid #FF8A00;
  }

  #cssmenu > ul > li.site-list {
    float: left;
    background: #2d599d;
    height: 100%;
    width:100%;
    border-top:4px solid #b9d342;
  }

  #cssmenu > ul > li.lead-id,
  #cssmenu > ul > li.contact {
    float: left;
    background: #2d599d;
    height: 100%;
    width:100%;
    border-top:4px solid #FF8A00;
  }

  #cssmenu > ul > li.logout {
    float: left;
    background: #2d599d url("../Images/glyphicon-off.png") 2% 50%  no-repeat;
    height: 100%;
    width:100%;
    padding-left:20px;
    border-top:4px solid #FF8A00;
  }

  #cssmenu > ul > li.logout:hover {
    float: left;
    background: #2d599d url("../Images/glyphicon-off.png") 2% 50% no-repeat;
    height: 100%;
    width:100%;
    padding-left:20px;
    border-top:4px solid #FF8A00;
  }

  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu > ul > li:hover {
    background:#3a75d2;
  }

  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-indent:-99999px;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }

  .section-block-left, .section-block-left-contact{float:left; margin-top:30px;  width:100%;}
  .section-block-right, .section-block-right-contact{float:left; margin-top:30px;  width:100%;}

  .show-export{text-align:left; margin:10px 0 50px 0;}
  .show{display:inline; width:100%; text-align:left; margin:10px 0 10px 0; clear:both;}
  .export{display:inline; float:right; width:100%; text-align:left; margin:10px 0 10px 0; clear:both;}
}

@media all and (max-width: 980px){

  /**Contact Page**/

  .content_box_contact_left {padding:0px;}
  .content_box_contact_right {float:left; width:99.6%;  border-bottom:1px #666 solid; border-left:1px #666 solid; border-right:1px #666 solid;}
  .section-block-left-contact{float:left; margin-top:30px; width:100%;}
  .section-block-right-contact{float:right; margin-top:30px;  width:100%;}

  .map{border-bottom:1px #666 solid; border-left:1px #666 solid; border-right:1px #666 solid;}
  .map img{width:100%;}
  .address{border-bottom:1px #666 solid; border-left:1px #666 solid; border-right:1px #666 solid; color:#666666;}

  .team{float:left; width:90%; text-align: center; margin-bottom:0px;}

  .team .title{text-align: center; color:#666666;}

  .team h3{
      font-size: 1.17em;
      font-weight: bold;
      line-height:0px;
      color:#666666;
  }

  .team img{ width:100px; display:block; margin: 0 auto;  border-radius: 50%;}

  .team .email a{float:left; width:100%; margin-top:15px; text-align: center; color:#b9d342;}


  /**Manage Account Page**/

  .section-block-left-account{float:left; margin-top:30px; width:100%;}

  .content_box_account_left {padding:0px; padding:47px 0 100px 0; width:100%; text-align:center; border:none; }

  .content_box_account_right {padding:0px; margin:0px 0 0 0; width:100%; float:left; border:none; }

  .content_box_account_right img {width:100%;}

  .tablet{border-bottom:1px #666 solid; border-left:1px #666 solid; border-right:1px #666 solid;}

  .loggedin{float:left; width:100%; text-align:center; padding:20px 0 20px 0px;}

  .form{float:left; width:100%; text-align:center; border:none; padding:0px; color:#666666;}

  .section-block-left-account .row {margin:15px 0 15px 0;}

  .section-block-left-account .row-btn {margin:25px 0 25px 0;}

  .section-block-left-account input[type="password"] {
      width: 300px;
      padding:15px;
      margin:0 auto;
      display: block;
      margin-bottom: 10px;
      background-color: white;
      font-size:18px;
      border-top:0px;
      border-left:0px;
      border-right:0px;
      border-bottom:1px #666666 solid;
      text-align: center;
      color:#5391c9;
  }

  .section-block-left-account input[type="submit"] {
      width: 250px;
      padding:20px;
      margin:0 auto;
      display: block;
      margin-bottom: 10px;
      background: #b9d342;
      border:none;
      font-size:18px;
      text-align: center;
      color:#fff;
  }

}
