@model ClientPortal.Data.Contexts.SearchProfile
@{
    var ajaxOpts_Profiles = RazorHelpers.GetAjaxOptions("searchProfilesTab", "navSearchProfiles");
}

<h3>Report Components</h3>

SearchProfile: @Model.SearchProfileName<br />
Start Day of Week: @((DayOfWeek)Model.StartDayOfWeek)<br />
<br />
Stats:<br />
@Ajax.ActionLink("Weekly", "Weekly", "SearchStats", new { spId = Model.SearchProfileId }, ajaxOpts_Profiles)

<br /><br />
Back to:
@Ajax.ActionLink("Profiles", "SearchProfiles", "SearchAdmin", ajaxOpts_Profiles)
