@model ClientPortal.Data.Contexts.SearchProfile
@{
    var ajaxOpts_Profiles = RazorHelpers.GetAjaxOptions("searchProfilesTab", "navSearchProfiles");
}

<h3>Report Components</h3>

SearchProfile: @Model.SearchProfileName<br />
<br />
Stats:
@Html.ActionLink("Weekly", "Weekly", "SearchStats", new { spId = Model.SearchProfileId }, new { target = "_blank" }) |
@Html.ActionLink("Monthly", "Monthly", "SearchStats", new { spId = Model.SearchProfileId }, new { target = "_blank" })

<br /><br />
Back to:
@Ajax.ActionLink("Profiles", "SearchProfiles", "SearchAdmin", ajaxOpts_Profiles)
