<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>clientportal.directagents.local</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>http://biz</MSDeployServiceURL>
    <DeployIisAppPath>ClientPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <UserName>directagents\kslesinsky</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ClientPortalContext" Order="4" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=ClientPortal;User ID=sa;Password=sp0ngbOb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClientPortal.Data.Contexts.ClientPortalContext, ClientPortal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortalDWContext" Order="6" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=ClientPortalDW;User ID=sa;Password=sp0ngbOb;Application Name=EntityFramework" Name="Data Source=.\sqlexpress;Initial Catalog=ClientPortalDW;User ID=sa;Password=sp0ngbOb;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClientPortal.Data.Contexts.ClientPortalDWContext, ClientPortal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CakeExtracter.Data.CakeTraffic.CakeTrafficContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CakeExtracter.Data.CakeTraffic.CakeTrafficContext, CakeExtracter" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TDContext" Order="11" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=ClientPortalTD;User ID=sa;Password=sp0ngbOb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ClientPortal.Data.Entities.TD.TDContext, ClientPortal.Data" MigrationConfiguration="ClientPortal.Data.Migrations.Configuration, ClientPortal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DirectAgents.Domain.Entities.Security.SecurityEntities" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DirectAgents.Domain.Entities.Security.SecurityEntities, DirectAgents.Domain" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DirectAgents.Domain.Entities.Wiki.WikiContext" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DirectAgents.Domain.Entities.Wiki.WikiContext, DirectAgents.Domain" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DATDContext" Order="15" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=DirectAgentsTest;User ID=sa;Password=sp0ngbOb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.DATDContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.MigrationsTD.Configuration, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DirectAgents.Domain.Contexts.DAContext" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.DAContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.Migrations.Configuration, DirectAgents.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="17" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=ClientPortal;User ID=sa;Password=sp0ngbOb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CakeExtracter.Data.UsersContext, CakeExtracter" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CakeExtracter.Data.CakeTraffic.CakeTrafficContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortalContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Contexts.ClientPortal.csdl|res://*/Contexts.ClientPortal.ssdl|res://*/Contexts.ClientPortal.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\sqlexpress;Initial Catalog=ClientPortal;User ID=sa;Password=sp0ngbOb"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortalDWContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Contexts.ClientPortalDW.csdl|res://*/Contexts.ClientPortalDW.ssdl|res://*/Contexts.ClientPortalDW.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\sqlexpress;Initial Catalog=ClientPortalDW;User ID=sa;Password=sp0ngbOb;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DATDContext-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Initial Catalog=DirectAgentsTest;User ID=sa;Password=sp0ngbOb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Initial Catalog=ClientPortal;User ID=sa;Password=sp0ngbOb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DirectAgents.Domain.Contexts.DAContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DirectAgents.Domain.Entities.Security.SecurityEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DirectAgents.Domain.Entities.Wiki.WikiContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TDContext-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Initial Catalog=ClientPortalTD;User ID=sa;Password=sp0ngbOb</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CakeExtracter.Data.CakeTraffic.CakeTrafficContext" />
    <_ConnectionStringsToInsert Include="DirectAgents.Domain.Contexts.DAContext" />
    <_ConnectionStringsToInsert Include="DirectAgents.Domain.Entities.Security.SecurityEntities" />
    <_ConnectionStringsToInsert Include="DirectAgents.Domain.Entities.Wiki.WikiContext" />
  </ItemGroup>
</Project>