<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>clientportal.directagents.local</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>http://biz3</MSDeployServiceURL>
    <DeployIisAppPath>ClientPortal.Web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <UserName>directagents\kslesinsky</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=biz2\da;Initial Catalog=ClientPortal;User ID=sa;Password=sp0ngbOb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClientPortal.Web.Models.UsersContext, ClientPortal.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortalContext" Order="4" Enabled="False">
          <Destination Path="Data Source=biz2\da;Initial Catalog=ClientPortal;User ID=sa;Password=sp0ngbOb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClientPortal.Data.Contexts.ClientPortalContext, ClientPortal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CakeExtracterContext" Order="5" Enabled="False">
          <Destination Path="Data Source=biz2\da;Initial Catalog=CakeExtract;User ID=sa;Password=sp0ngbOb" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=biz2\da;Initial Catalog=CakeExtract;User ID=sa;Password=sp0ngbOb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CakeExtracterContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=biz2\da;initial catalog=CakeExtract;User Id=sa;Password=sp0ngbOb;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortal.Data.Contexts.ClientPortalDWContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClientPortal.Data.Contexts.ClientPortalDWContext, ClientPortal.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CakeContext" Order="7" Enabled="False">
          <Destination Path="Data Source=biz2\da;Initial Catalog=Cake;User ID=sa;Password=sp0ngbOb;Application Name=EntityFramework" Name="Data Source=biz2\da;Initial Catalog=Cake;User ID=sa;Password=sp0ngbOb;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=biz2\da;Initial Catalog=Cake;User ID=sa;Password=sp0ngbOb;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CakeContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Contexts.Cake.csdl|res://*/Contexts.Cake.ssdl|res://*/Contexts.Cake.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=Cake;User Id=sa;Password=sp0ngbOb;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CakeContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Contexts.Cake.csdl|res://*/Contexts.Cake.ssdl|res://*/Contexts.Cake.msl;provider=System.Data.SqlClient;provider connection string="data source=biz2\da;initial catalog=Cake;user id=sa;password=sp0ngbOb;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CakeExtracterContext-Web.config Connection String">
      <ParameterValue>Data Source=biz2\da;Initial Catalog=CakeExtract;User ID=sa;Password=sp0ngbOb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortal.Data.Contexts.ClientPortalDWContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortalContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Contexts.ClientPortal.csdl|res://*/Contexts.ClientPortal.ssdl|res://*/Contexts.ClientPortal.msl;provider=System.Data.SqlClient;provider connection string="Data Source=biz2\da;Initial Catalog=ClientPortal;User ID=sa;Password=sp0ngbOb"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=biz2\da;Initial Catalog=ClientPortal;User ID=sa;Password=sp0ngbOb</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ClientPortal.Data.Contexts.ClientPortalDWContext" />
  </ItemGroup>
</Project>