<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="Google.Ads.Common" version="1.8.0" targetFramework="net45" />
  <package id="Google.AdWords" version="16.1.0" targetFramework="net45" />
  <package id="ManyConsole" version="0.4.2.16" targetFramework="net45" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net45" />
  <package id="Quartz" version="2.1.2" targetFramework="net45" />
</packages>