<h2>DAWeb Stats Links</h2>

Cake - by Advertiser
<br />
- @Html.ActionLink("Last 30 days, sort by margin", "CakeAdv", "Stats", new { numdays = 30, sort = "margin" }, null)
<br />
- @Html.ActionLink("...Top 5 (JSONP)", "CakeAdv", "Stats", new { numdays = 30, sort = "margin", take = 5, jsonp = true }, null)

<br />
<br />
CakeSummary
<br />
- @Html.ActionLink("MTD (JSONP)", "CakeSummary", "Stats")

<br />
<br />
AdRoll
<br />
- @Html.ActionLink("By Advertisable", "AdRoll", "Stats")
