
@model ClientPortal.Web.Models.SearchReportModel

<div style="height: 40px;">
    <select style="width: 140px" id="campaignperf_dateRangeSel" onchange="ChangeDateRange('campaignperf')">
        <option value="yesterday">Yesterday</option>
        <option value="wtd">Week to Date</option>
        <option value="mtd" selected="selected">Month to Date</option>
        <option value="ytd">Year to Date</option>
        <option value="lastweek">Last Week</option>
        <option value="lastmonth">Last Month</option>
        <option value="custom">- custom -</option>
    </select>
    <span class="paddedlabel">Start:</span>
    <input id="campaignperf_startdate" name="startdate" type="text" value="@Model.StartDate" onchange="DateChanged('campaignperf')" />
    <span class="paddedlabel">End:</span>
    <input id="campaignperf_enddate" name="enddate" type="text" value="@Model.EndDate" onchange="DateChanged('campaignperf')" />
    <a class="button paddedbutton" id="campaignperf_filterBtn" href="#" onclick="if($(this).attr('disabled') != 'disabled') RefreshGrid('campaignperf'); return false">Filter</a>
    @*&nbsp;Show Breakdown<input type="checkbox" id="campaignperf_showBreakdown" style="vertical-align: middle" />*@
    <a class="button paddedbutton" style="float: right" href="#" onclick="ExportCampaignPerfCSV(); return false">Export CSV</a>
</div>
<div id="campaignperfGrid"></div>

<script>
    $(function () {
        $('#campaignperf_dateRangeSel').kendoDropDownList();
        $('#campaignperf_startdate').kendoDatePicker({ footer: ' ' });
        $('#campaignperf_enddate').kendoDatePicker({ footer: ' ' });

        InitGrid();

        $('#campaignperf_showBreakdown').click(function () {
            InitGrid();
        });
    });

    function InitGrid() {
        $('#campaignperfGrid').html('');

        var showBreakdown = false; @* $('#campaignperf_showBreakdown').is(':checked');*@
        var campaignperfDS = CreateSummaryDataSource(
            '@Url.Action("CampaignPerfData", "SearchReports")',
            function () {
                return {
                    startdate: $('#campaignperf_startdate').val(),
                    enddate: $('#campaignperf_enddate').val(),
                    breakdown: showBreakdown
                };
            },
            false,
            true,
            0);
        CreateSummaryGrid(campaignperfDS, $('#campaignperfGrid'), 550, 'Campaign', 20, 2, true, true, showBreakdown, null);
        campaignperfDS.read();
    }

    function ExportCampaignPerfCSV() {
        var s = $('#campaignperf_startdate').val();
        var e = $('#campaignperf_enddate').val();
        var showBreakdown = false; @*$('#campaignperf_showBreakdown').is(':checked');*@
        window.location.href = '@Url.Action("CampaignPerfExport", "SearchReports")?startdate=' + s + '&enddate=' + e + '&breakdown=' + showBreakdown;
    }
</script>
