<div id="channelperfGrid"></div>

<script>
    $(function () {
        var channelperfDS = CreateSummaryDataSource('@Url.Action("ChannelPerfData", "SearchReports")', null, true);
        CreateSummaryGrid(channelperfDS, $('#channelperfGrid'), 550, 'Channel', 20, 2, false, function (e) {
            DetailInit(e, '@Url.Action("CampaignPerfData", "SearchReports")');
        });
        channelperfDS.read();
    });
</script>
