<div class="row">
    <div class="twelve columns">
        <div class="searchpanel" id="weeksumOuter">
            <b>Weekly Summary</b>
            <a class="button paddedbutton" style="float: right" href="#" onclick="ExportWeekSumCSV(); return false">Export CSV</a>
            <div id="weeksumGrid" style="margin-top: 10px"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="six columns">
        <div id="weekrevChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="weekrevChart"></div>
            </div>
        </div>
    </div>
    <div class="six columns">
        <div id="weekorderChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="weekorderChart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var weeksumDS = CreateSummaryDataSource('@Url.Action("WeekSumData", "SearchReports")', null, false);
        CreateSummaryGrid(weeksumDS, $('#weeksumGrid'), 300, 'Week', 10, 0, true, false, false, null);

        CreateRevROASChart(weeksumDS, 'weekrevChart', 'Weekly Revenue vs. ROAS Performance');
        CreateOrderCPOChart(weeksumDS, 'weekorderChart', 'Weekly Orders vs. CPO Performance');

        weeksumDS.read();
    });

    function ExportWeekSumCSV() {
        window.location.href = '@Url.Action("WeekSumExport", "SearchReports")';
    }
</script>
