@model ClientPortal.Web.Models.SearchReportModel

<div class="row">
    <div class="large-12 columns">
        <div class="searchpanel" id="weeksumOuter">
            <b>Weekly Summary</b>
            <a class="button paddedbutton" style="float: right" href="#" onclick="ExportWeekSumCSV(); return false">Export CSV</a>
            <div id="weeksumGrid" style="margin-top: 10px"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <div id="weekleftChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="weekleftChart"></div>
            </div>
        </div>
    </div>
    <div class="large-6 columns">
        <div id="weekrightChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="weekrightChart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var weeksumDS = CreateSummaryDataSource('@Url.Action("WeekSumData", "SearchReports")', null, false, false, 0);

    @if (Model.SearchProfile.ShowRevenue) {
        <text>CreateSummaryGrid(weeksumDS, $('#weeksumGrid'), 300, 'Week', 10, 2, true, false, false, null);</text>
        <text>CreateRevROASChart(weeksumDS, 'weekleftChart', 'Weekly Revenue vs. ROAS Performance');</text>
        <text>CreateOrderCPOChart(weeksumDS, 'weekrightChart', 'Weekly Orders vs. CPO Performance');</text>
    } else {
        <text>CreateSummaryGridLeadGen(weeksumDS, $('#weeksumGrid'), 300, 'Week', 10, 2, true, false, false, null);</text>
        <text>CreateCTRCPCChart(weeksumDS, 'weekleftChart', 'Weekly CTR vs. CPC Performance');</text>
        <text>CreateTotalLeadsCPLChart(weeksumDS, 'weekrightChart', 'Weekly TotalLeads vs. CPL Performance');</text>
    }
        weeksumDS.read();
    });

    function ExportWeekSumCSV() {
        window.location.href = '@Url.Action("WeekSumExport", "SearchReports")';
    }
</script>
