@model ClientPortal.Web.Models.SearchReportModel

<div class="row">
    <div class="large-12 columns">
        <div class="searchpanel" id="monthsumOuter">
            <b>Monthly Summary</b>
            <a class="button paddedbutton" style="float: right" href="#" onclick="ExportMonthSumCSV(); return false">Export CSV</a>
            <div id="monthsumGrid" style="margin-top: 10px"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <div id="monthleftChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="monthleftChart"></div>
            </div>
        </div>
    </div>
    <div class="large-6 columns">
        <div id="monthrightChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="monthrightChart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var monthsumDS = CreateSummaryDataSource('@Url.Action("MonthSumData", "SearchReports")', null, false, 'nosort', 0);

    @if (Model.SearchProfile.ShowRevenue) {
        <text>CreateSummaryGrid(monthsumDS, $('#monthsumGrid'), 300, 'Month', 10, 2, true, false, false, DetailInitWrapperWM);</text>
        <text>CreateRevROASChart(monthsumDS, 'monthleftChart', 'Monthly Revenue vs. ROAS Performance');</text>
        <text>CreateOrderCPOChart(monthsumDS, 'monthrightChart', 'Monthly Orders vs. CPO Performance');</text>
    } else {
        <text>CreateSummaryGridLeadGen(monthsumDS, $('#monthsumGrid'), 300, 'Week', 10, 2, true, false, false, DetailInitWrapperWM, @(Model.SearchProfile.ShowCalls ? "true" : "false"));</text>
        <text>CreateCTRCPCChart(monthsumDS, 'monthleftChart', 'Weekly CTR vs. CPC Performance');</text>
        if (Model.SearchProfile.ShowCalls) {
            <text>CreateLeadsCPLChart(monthsumDS, 'monthrightChart', 'Monthly TotalLeads vs. CPL Performance', 'TotalLeads');</text>
        } else {
            <text>CreateLeadsCPLChart(monthsumDS, 'monthrightChart', 'Monthly Leads vs. CPL Performance', 'Leads');</text>
        }
    }
        monthsumDS.read();
    });

    function ExportMonthSumCSV() {
        window.location.href = '@Url.Action("MonthSumExport", "SearchReports")';
    }
</script>
