<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EomAppControls.Properties.Settings.DAMain1ConnectionString"
            connectionString="Data Source=biz2\da;Initial Catalog=DAMain1;Persist Security Info=True;User ID=sa;Password=sp0ngbOb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>