@model ClientPortal.Web.Models.IndexModel

@if (Request.IsAuthenticated)
{
    if (!String.IsNullOrWhiteSpace(Model.LogoImage))
    {
    <p style="text-align: center">
        <img src="~/Images/@Model.LogoImage" />
    </p>               
    }
    else
    {
    <p style="text-align: center; margin-top: 30px">
        <span>Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!</span>
    </p>          
    }
}