@model bool

@if (Request.IsAuthenticated)
{
    if (Model) // HasLogo
    {
    <p style="text-align: center">
        <img src="@Url.Action("Logo")" />
    </p>               
    }
    else
    {
    <p style="text-align: center; margin-top: 30px">
        <span>Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!</span>
    </p>          
    }
}