<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EomToolDatabaseUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DatabasesEntities" connectionString="metadata=res://*/Databases.csdl|res://*/Databases.ssdl|res://*/Databases.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DAMain1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EomToolDatabaseUpdater.Properties.Settings.DAMain1ConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=DAMain1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <EomToolDatabaseUpdater.Properties.Settings>
      <setting name="SqlText" serializeAs="String">
        <value />
      </setting>
    </EomToolDatabaseUpdater.Properties.Settings>
  </userSettings>
</configuration>