<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BingApiToken" value="EW65911AO" />
    <add key="BingApiUsername" value="API_DanielOwen" />
    <add key="BingApiPassword" value="agentdan1" />
  </appSettings>
  <connectionStrings>
    <add name="ClientPortalDWContext" connectionString="metadata=res://*/Contexts.ClientPortalDW.csdl|res://*/Contexts.ClientPortalDW.ssdl|res://*/Contexts.ClientPortalDW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2;initial catalog=ClientPortalDW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICampaignManagementService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IReportingService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://adcenterapi.microsoft.com/Api/Advertiser/V8/CampaignManagement/CampaignManagementService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICampaignManagementService"
          contract="CampaignManagement.ICampaignManagementService" name="BasicHttpBinding_ICampaignManagementService" />
      <endpoint address="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Reporting/ReportingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService"
        contract="Reporting.IReportingService" name="BasicHttpBinding_IReportingService" />
    </client>
  </system.serviceModel>
</configuration>