<h1>The analytic table was not updated.</h1>
<div>
    See more on the <a href="http://dagents.eastus.cloudapp.azure.com/Admin/JobsExecution">Job Execution history page</a>.
</div>
<div><b>Analytic table name: </b>@Model</div>