@model EomToolWeb.Models.CampaignsListViewModel

<div id="CampaignListPagerTop" class="k-pager-wrap wikipager-top"></div>

<div id="listView" style="padding-top: 40px; padding-left: 15px"></div>

<div id="CampaignListPagerBottom" class="k-pager-wrap"></div>

<div id="divEditCampaign" title="Edit Campaign">
    <div id="divEditCampaignInner"></div>
</div>

<script type="text/javascript">

    var dataSource = null;
    var kendoListView = null;
    var theDataUrl = "";

    function DisplayCampaigns(dataUrl) {  
        theDataUrl = dataUrl;
        if(dataSource == null)
        {
            //--------------------------------------
            // Campaigns DataSource
            //--------------------------------------
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: function(options) {
                        $.ajax( {
                            url: theDataUrl,
                            data: options.data,
                            success: function(result) {
                                options.success(result);
                            }
                        });
                    },
                    update: {
                        url: "@Url.Action("Edit2", "Campaigns")",
                        type: "POST"
                    }
                },
                pageSize: 20,
                schema: {
                    model: {
                        id: "Pid",
                        fields: {
                            Pid: { editable: false },
                            AdManagers: { editable: false },
                            AccountManagers: { editable: false },
                            Countries: { editable: false },
                            TrafficTypes: { editable: false }
                        }
                    }
                },
                autoBind: false
            });

            //--------------------------------------
            // Campaigns ListView
            //--------------------------------------
            kendoListView = $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#listTemplate").html()),
                editTemplate: kendo.template($("#editTemplate").html()),
                dataBound: function () {                 
                },
                edit: function(e) {
                    e.item.animate({ height: '540px', width: '800px' }, 1000 );
                }
            });
                
            //--------------------------------------
            // Top Pager
            //--------------------------------------
            $("#CampaignListPagerTop").kendoPager({
                dataSource: dataSource
            });

            //--------------------------------------
            // Bottom Pager
            //--------------------------------------              
            $("#CampaignListPagerBottom").kendoPager({
                dataSource: dataSource
            });
        }
        dataSource.read();
    }

@{
    string currFilter = "";
    currFilter += "&country=" + Model.CountryFilterString;
    currFilter += "&search=" + Model.SearchString;
    currFilter += "&vertical=";
    currFilter += "&traffictype=";
}
    $(document).ready(function () {
        $(document).bind("TemplateLoaded", function(e, path) { 
            DisplayCampaigns("@Url.Content("~/api/campaignsapi?")" + '@(new HtmlString(currFilter))');
        });
        loader.loadTemplate("@Url.Content("~/Templates/Campaigns/_List.tmpl.htm")");
    });
</script>
