@model CampaignsListViewModel
@{
    ViewBag.Title = "Campaign Budgets";
    ViewBag.ParentMenuItem = "List";
    ViewBag.MenuItem = "Sortable";
    ViewBag.NoSearch = true;
    Layout = "~/Views/Shared/_LayoutCampaignWiki.cshtml";
}

@Html.Partial("FilterForList")

<div id="divListSortable" style="margin-left: 30px; padding-top: 40px">
    @Html.Partial("ListSortableInner")
</div>