@model IEnumerable<DirectAgents.Domain.Entities.Campaign>
@{
    ViewBag.Title = "Campaigns";
}
<h2>
    Campaigns List</h2>
@foreach (var campaign in Model)
{
    <div>
        <h3>@campaign.Name</h3>
        Pid - (@campaign.Pid)<br />
        Account Managers -
        @foreach (var am in campaign.AccountManagers)
        {
            @am.Name@:,
                        }
        <br />
        Media Buyers -
        @foreach (var mb in campaign.MediaBuyers)
        {
            @mb.Name@:,
                        }
        <br />
    </div>
}