@model EomToolWeb.Models.CampaignsByCountryViewModel
@{
    ViewBag.Title = "Campaigns By Country";
    Layout = "~/Views/Shared/_LayoutCampaignWiki.cshtml";
}

<h2>Campaigns By Country</h2>

@foreach (var country in Model.Countries.Keys)
{
    <h3>@Html.ActionLink(country, "List", new {country = country}):</h3>
    <ol>
    @foreach (var campaign in Model.Countries[country])
    {
        <li>@Html.ActionLink(campaign.Name, "List", new {pid = campaign.Pid})</li>
    }
    </ol>
}