@model IEnumerable<DirectAgents.Domain.Entities.Campaign>
@{
    ViewBag.Title = "Campaigns";
}
<h2>Campaigns List</h2>

<div>@Model.Count() campaigns</div>

@foreach (var campaign in Model)
{
    <div>
    @Html.Partial("Show", campaign)
    </div>
}