@model IEnumerable<DirectAgents.Domain.Entities.Country>
@{
    ViewBag.Title = "Campaigns By Country";
    Layout = "~/Views/Shared/_LayoutCampaignWiki.cshtml";
}

<h2>Campaigns By Country</h2>

@foreach (var country in Model)
{
    <h3>@Html.ActionLink(country.CountryCode, "List", new {country = country.CountryCode}):</h3>
    <ol>
    @foreach (var campaign in country.Campaigns)
    {
        <li>@Html.ActionLink(campaign.Name, "List", new {pid = campaign.Pid})</li>
    }
    </ol>
}