@model IEnumerable<DirectAgents.Domain.Entities.Country>
@{
    ViewBag.Title = "Campaigns By Country";
    ViewBag.MenuItem = "ByCountry";
    ViewBag.NoSearch = true;
    Layout = "~/Views/Shared/_LayoutCampaignWiki.cshtml";
}

<div style="margin-left: 30px">

    <h2>Campaigns By Country</h2>

    @{
        List<string> countryCodes = ViewBag.CountryCodes;
        string lastCountry = countryCodes.FirstOrDefault();
        foreach (var country in countryCodes)
        {
            if (country.Substring(0, 1) != lastCountry.Substring(0, 1)) {
                <br />
            }
            <a href="#@country">@country</a>            
            lastCountry = country;
        }
    }

    @foreach (var country in Model)
    {
        <span id="@country.CountryCode"></span>
        <hr />
        <br />        
        <h3>@Html.ActionLink(country.CountryCode, "List2", new { country = country.CountryCode }):</h3>
        <ol>
        @foreach (var campaign in country.Campaigns.OrderBy(c => c.Countries.Count() > 1).ThenBy(c => c.Name))
        {
            <li>@Html.ActionLink(campaign.Name, "List2", new { pid = campaign.Pid })</li>
        }
        </ol>
    }
</div>
Z