@model IEnumerable<DirectAgents.Domain.DTO.CampaignSummary>

@{
    ViewBag.Title = "TopTenRevenue";
    ViewBag.MenuItem = "Top";    
    Layout = "~/Views/Shared/_LayoutCampaignWiki.cshtml";
}

<h2>TopTenRevenue</h2>

<ul>
@foreach (var campaignSummary in Model)
{
    <li>@Html.ActionLink(@campaignSummary.CampaignName, "List", new { pid = campaignSummary.Pid }) @campaignSummary.Revenue
    </li>   
}
</ul>
