@model ClientPortal.Web.Areas.Admin.Models.CampaignDropWizardVM

<h3>Drop Wizard</h3>

Next Step: <b>Enter Details</b>
<table><tr><td>
Enter the details for the drop...
<br /><br />

@{
    ViewBag.FormAction = "Details";
    ViewBag.ShowCancel = false;
}
@Html.Partial("../CampaignDrops/Edit", Model.CampaignDrop)

</td></tr></table>

<br /><br />