@model ClientPortal.Web.Areas.Admin.Models.CampaignDropWizardVM

<h3>Drop Wizard</h3>

Last Step: <b>Final Review - Edit</b>
<table><tr><td>

@{
    ViewBag.FormAction = "FinalReviewEdit";
    ViewBag.FromWizard = true;
    ViewBag.AllowChangeCreative = false;
}
@Html.Partial("../CampaignDrops/Edit", Model.CampaignDrop)

</td></tr></table>

<br /><br />