@model ClientPortal.Web.Areas.Admin.Models.CampaignDropWizardVM
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmDropsTab");
}

<h3>Drop Wizard</h3>

Next Step: <b>Test</b>

<br /><br />

@Ajax.ActionLink("Back", "Show", "CampaignDropsWizard", new { id = Model.CampaignDrop.CampaignDropId, step = (int)(Model.Step - 1) }, ajaxOptions)
<br /><br />
