@model IEnumerable<ClientPortal.Data.Entities.TD.DBM.InsertionOrder>
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("tdAccountsTab");
}

Show:
@Ajax.ActionLink("Accounts", "TradingDeskAccounts", ajaxOptions)
<br /><br />

<table border="1">
    <tr>
        <th>Id</th>
        <th>Insertion Order</th>
        <th>Account</th>
    </tr>
@foreach (var io in Model)
{
    <tr>
        <td>@io.InsertionOrderID</td>
        <td>@io.InsertionOrderName</td>
        <td>
            @if (io.TradingDeskAccountId.HasValue) {
                <text>created</text>
            } else {
                @Ajax.ActionLink("create", "CreateAccount", new { ioID = io.InsertionOrderID }, ajaxOptions)
            }
        </td>
    </tr>
}
</table>