<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Aaron28Entities" connectionString="metadata=&quot;res://*/XSD Schemas.Model1.csdl|res://*/XSD Schemas.Model1.ssdl|res://*/XSD Schemas.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=aaron\sqlexpress;initial catalog=Aaron28;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DirectTrackContainer" connectionString="metadata=res://*/Models.DirectTrack.csdl|res://*/Models.DirectTrack.ssdl|res://*/Models.DirectTrack.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DirectTrack2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>