<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EomApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EomApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="DADatabaseR1Entities" />
  <connectionStrings>
    <add name="PetaPocoConnectionString" connectionString="Data Source=biz2\da;Initial Catalog=DADatabaseR1;User=sa;Password=sp0ngbOb"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.DADatabaseR1ConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=DADatabaseR1;User=sa;Password=sp0ngbOb"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.Nov10Eom2ConnectionString2"
      connectionString="Data Source=aaron\sqlexpress;Initial Catalog=Nov10Eom2;Integrated Security=True" />
    <add name="EomApp1.Properties.Settings.DAMain1ConnectionString"
      connectionString="Data Source=173.204.123.82;Initial Catalog=DAMain1;User=sa;Password=sp0ngbOb"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.DADatabaseR2ConnectionString"
      connectionString="Data Source=aaron\sqlexpress;Initial Catalog=DADatabaseR2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.DADatabaseMarch11ConnectionString"
      connectionString="Data Source=aaron\sqlexpress;Initial Catalog=DADatabaseMarch11;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Database Connection String For QuickBooks" connectionString="DSN=QuickBooks Data;SERVER=QODBC;OptimizerDBFolder=%UserProfile%\QODBC Driver for QuickBooks\Optimizer;OptimizerAllowDirtyReads=N;SyncFromOtherTables=Y;IAppReadOnly=Y"
      providerName="System.Data.Odbc" />
    <add name="EomApp1.Properties.Settings.DADatabaseJul11ConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=DADatabaseJul11;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.DADatabaseAug11ConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=DADatabaseAug11;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.DirectTrackConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=DirectTrack;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.DirectTrack3ConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=DirectTrack3;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.DADatabaseApril2012_before_cakeConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=DADatabaseApril2012_before_cake;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.OverrideConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=zDADatabaseJuly2012Test2;User=sa;Password=sp0ngbOb" />
    <add name="EomApp1.Properties.Settings.EomToolSecurityConnectionString"
      connectionString="Data Source=173.204.123.82;Initial Catalog=EOMToolSecurity;User=sa;Password=sp0ngbOb"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.DADatabaseR1ConnectionString1"
      connectionString="Data Source=biz2\da;Initial Catalog=DADatabaseR1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EomApp1.Properties.Settings.OverrideEomToolSecurityConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=EomToolSecurity;Integrated Security=True" />
    <add name="Nov10Eom2Entities" connectionString="metadata=res://*/Formss.PubRep1.Data.PublisherReportModel.csdl|res://*/Formss.PubRep1.Data.PublisherReportModel.ssdl|res://*/Formss.PubRep1.Data.PublisherReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=aaron.directagents.local\sqlexpress;Initial Catalog=Nov10Eom2;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DADatabaseR1Entities" connectionString="metadata=res://*/Formss.Accounting.Data.AccountingModel.csdl|res://*/Formss.Accounting.Data.AccountingModel.ssdl|res://*/Formss.Accounting.Data.AccountingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=aaron\sqlexpress;Initial Catalog=DADatabaseR1;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DADatabaseR2Entities" connectionString="metadata=res://*/Formss.Payment.DataSets.PaymentModel1.csdl|res://*/Formss.Payment.DataSets.PaymentModel1.ssdl|res://*/Formss.Payment.DataSets.PaymentModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=aaron\sqlexpress;Initial Catalog=DADatabaseR2;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CampaignStatusAuditTrailViewEntities" connectionString="metadata=res://*/Formss.Final.Model1.csdl|res://*/Formss.Final.Model1.ssdl|res://*/Formss.Final.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=aaron\sqlexpress;Initial Catalog=DADatabaseR1;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CampaignStatusAuditView" connectionString="metadata=res://*/Formss.Final.Model2.csdl|res://*/Formss.Final.Model2.ssdl|res://*/Formss.Final.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=aaron\sqlexpress;Initial Catalog=DADatabaseR1;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DAMain1Entities" connectionString="metadata=res://*/Formss.AB.AdvertiserModel.csdl|res://*/Formss.AB.AdvertiserModel.ssdl|res://*/Formss.AB.AdvertiserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=aaron\sqlexpress;Initial Catalog=DAMain1;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DAMain1Entities1" connectionString="metadata=res://*/Screens.AB.EntityModel.AdvertiserModel.csdl|res://*/Screens.AB.EntityModel.AdvertiserModel.ssdl|res://*/Screens.AB.EntityModel.AdvertiserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=aaron\sqlexpress;Initial Catalog=DAMain1;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DAModelEntities" connectionString="metadata=res://*/Formss.AB.EntityModel.DAModel.csdl|res://*/Formss.AB.EntityModel.DAModel.ssdl|res://*/Formss.AB.EntityModel.DAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=aaron\sqlexpress;Initial Catalog=DADatabaseR1;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Jul11Entities" connectionString="metadata=res://*/Formss.Campaign.July11Model1.csdl|res://*/Formss.Campaign.July11Model1.ssdl|res://*/Formss.Campaign.July11Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseJul11;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DADatabaseJul11Entities" connectionString="metadata=res://*/Formss.Campaign.Model2.csdl|res://*/Formss.Campaign.Model2.ssdl|res://*/Formss.Campaign.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseJul11;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DirectTrackEntities" connectionString="metadata=res://*/Formss.Model2.csdl|res://*/Formss.Model2.ssdl|res://*/Formss.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DirectTrack;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DirectTrackEntities1" connectionString="metadata=res://*/Model.DirectTrack.csdl|res://*/Model.DirectTrack.ssdl|res://*/Model.DirectTrack.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DirectTrack;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DADatabaseEntities1" connectionString="metadata=res://*/Screens.AutoSynch.Model1.csdl|res://*/Screens.AutoSynch.Model1.ssdl|res://*/Screens.AutoSynch.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseR1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DirectAgentsEntities" connectionString="metadata=res://*/Formss.AB2.Model.ABModel.csdl|res://*/Formss.AB2.Model.ABModel.ssdl|res://*/Formss.AB2.Model.ABModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DirectAgents7;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ExternalDatabaseModel" connectionString="metadata=res://*/Formss.AB2.ExternalDatabase.ExternalDatabase.csdl|res://*/Formss.AB2.ExternalDatabase.ExternalDatabase.ssdl|res://*/Formss.AB2.ExternalDatabase.ExternalDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseAug11;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DADatabase" connectionString="metadata=res://*/Formss.Campaign2.Campaign2.csdl|res://*/Formss.Campaign2.Campaign2.ssdl|res://*/Formss.Campaign2.Campaign2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseApril2012_before_cake;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Campaigns2Entities" connectionString="metadata=res://*/Formss.Campaign2.Campaigns2.csdl|res://*/Formss.Campaign2.Campaigns2.ssdl|res://*/Formss.Campaign2.Campaigns2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseApril2012_before_cake;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CakeSynchEntities" connectionString="metadata=res://*/Formss.Synch.__defunct.CakeSynchLog.csdl|res://*/Formss.Synch.__defunct.CakeSynchLog.ssdl|res://*/Formss.Synch.__defunct.CakeSynchLog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=Cake;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CakeEntities" connectionString="metadata=res://*/Screens.Synch.Models.Cake.CakeStaging.csdl|res://*/Screens.Synch.Models.Cake.CakeStaging.ssdl|res://*/Screens.Synch.Models.Cake.CakeStaging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.204.123.82;initial catalog=Cake;persist security info=True;user id=sa;password=sp0ngbOb;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EomDatabaseEntities" connectionString="metadata=res://*/Screens.Synch.Models.Eom.EomModel.csdl|res://*/Screens.Synch.Models.Eom.EomModel.ssdl|res://*/Screens.Synch.Models.Eom.EomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseJune2012;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Eom" connectionString="metadata=res://*/Screens.Final.Models.EomModel.csdl|res://*/Screens.Final.Models.EomModel.ssdl|res://*/Screens.Final.Models.EomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=zDADatabaseJuly2012Test;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EomToolSecurityEntities" connectionString="metadata=res://*/Security.EomToolSecurity.csdl|res://*/Security.EomToolSecurity.ssdl|res://*/Security.EomToolSecurity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.204.123.82;initial catalog=EOMToolSecurity;persist security info=True;user id=sa;password=sp0ngbOb;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MediaBuyerWorkflowEntities" connectionString="metadata=res://*/Screens.MediaBuyerWorkflow.MediaBuyerWorkflowModel.csdl|res://*/Screens.MediaBuyerWorkflow.MediaBuyerWorkflowModel.ssdl|res://*/Screens.MediaBuyerWorkflow.MediaBuyerWorkflowModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=zDADatabaseJuly2012Test2;persist security info=True;user id=sa;password=sp0ngbOb;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <EomApp1.Properties.Settings>
      <setting name="DADatabaseName" serializeAs="String">
        <value>Sep 2012</value>
      </setting>
      <setting name="PubReportLastRefresh" serializeAs="String">
        <value>n/a</value>
      </setting>
      <setting name="AccountingSheetSettingsString" serializeAs="String">
        <value />
      </setting>
      <setting name="CampaignSynchViewPayoutsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CampaignSynchViewStatsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CampaignSynchViewFromDay" serializeAs="String">
        <value />
      </setting>
      <setting name="CampaignSynchViewToDay" serializeAs="String">
        <value />
      </setting>
      <setting name="SynchScreenTargetSystemChoice" serializeAs="String">
        <value>DirectTrack</value>
      </setting>
      <setting name="TestMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsConnectionString" serializeAs="String">
        <value>Data Source=biz2\da;Initial Catalog=DAMain1;User=sa;Password=sp0ngbOb</value>
      </setting>
    </EomApp1.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="exportSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="exportSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="exportSoap2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="exportSoap3" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="reportsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="524288000" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="reportsSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="getSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="exportSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536000" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="exportSoap121">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536000" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="reportsSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536000" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://login.directagents.com/api/4/export.asmx" binding="basicHttpBinding" bindingConfiguration="exportSoap" contract="Cake.WebServices._4.Export.exportSoap" name="exportSoap" />
      <endpoint address="https://login.directagents.com/api/4/export.asmx" binding="customBinding" bindingConfiguration="exportSoap12" contract="Cake.WebServices._4.Export.exportSoap" name="exportSoap12" />
      <endpoint address="https://login.directagents.com/api/3/export.asmx" binding="basicHttpBinding" bindingConfiguration="exportSoap2" contract="Cake.WebServices._3.Export.exportSoap" name="exportSoap1" />
      <endpoint address="https://login.directagents.com/api/3/export.asmx" binding="customBinding" bindingConfiguration="exportSoap121" contract="Cake.WebServices._3.Export.exportSoap" name="exportSoap121" />
      <endpoint address="https://login.directagents.com/api/4/reports.asmx" binding="basicHttpBinding" bindingConfiguration="reportsSoap" contract="Cake.WebServices._4.Reports.reportsSoap" name="reportsSoap" />
      <endpoint address="https://login.directagents.com/api/4/reports.asmx" binding="customBinding" bindingConfiguration="reportsSoap12" contract="Cake.WebServices._4.Reports.reportsSoap" name="reportsSoap12" />
      <endpoint address="http://login.directagents.com/api/1/get.asmx" binding="basicHttpBinding" bindingConfiguration="getSoap" contract="WebServices.V1.getSoap" name="getSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <EomApp1.Properties.Settings>
      <setting name="OverrideDate" serializeAs="String">
        <value>2012-07-01</value>
      </setting>
      <setting name="TestUserIdentities" serializeAs="String">
        <value>directagents\aanodide,directagents\kslesinsky,aaron-pavillion\aaron</value>
      </setting>
    </EomApp1.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
