@model LTWeb.Lead

@{
    ViewBag.Title = "Admin";
    Layout = null;    
}

<fieldset>
    <legend>Response / Request</legend>

    <div style="width: 100%; border: 1px solid black; background-color: lightpink">
        @Model.ResponseContent
    </div>

    <textarea style="width: 100%" id="Lead.RequestContent" cols="25" rows="20">@Model.RequestContent</textarea>

    <p>
        <input type="submit" value="Resend" onclick="javascript:ResendClicked" />
    </p>
</fieldset>
