<#@ template language="C#" #>
<p>Hello,<br/>
<br/>
You have new publisher payments for your review.<br/>
<br/>
Please click <a href="<#=UrlToOpen#>">here</a> to review them.<br/>
<br/>
Thank You.</p>
