<style type="text/css">
    .freeCred div
    {
        margin: 20px auto;
        width: 350px;
        text-align: center;
    }

    .freeCredLastStep
    {
        color: #FF0000;
        font-size: large;
    }

    .freeCredImage
    {
        position: relative;
        top: 5px;
        width: 192px;
        height: 74px;
    }

    .freeCredButton
    {
        margin-left: 30px;
    }
</style>

<div class="freeCred">
    <div class="freeCredLastStep">
        LAST STEP
    </div>
    <div>
        Having your up-to-date credit score will ensure you receive the lowest and most accurate mortgage rate.
    </div>
    <div>
        Check your 3 credit scores for $1 at <a href="http://trk2it1.com/?a=40316&oc=217&c=330&s1=">FreeScore360.com</a>.  It takes only
        a minute and you will also receive your up-to-date credit reports from Experian, Equifax and Transunion. If you notice any 
        credit issues from any of the credit bureaus, now is the time to act and bring your credit score above 720.
    </div>
    <a href="http://trk2it1.com/?a=40316&oc=217&c=330&s1=" class="freeCredButton">
        <img id="GetScoresImage" src="~/Content/images/get-scores-now-blue-button.jpg" alt="Get Scores Now" />
    </a>
    <br />
    <br />
</div>

<script type="text/javascript">
    $(function () {
        jQuery("#progressbarcontainer").hide();
        jQuery("#form-fields").css('position', 'relative');
        jQuery("#form-fields").animate({ top: "-100px" }, 500);
    });
</script>