<div id="windowGoal"></div>

<script>
    function SetupGoalWindow() {
        $('#windowGoal').kendoWindow({
            title: "Goal",
            visible: false,
            modal: true
        });
    }

    function BeginEditGoal() {
        var win = $('#windowGoal').data("kendoWindow");
        win.setOptions({ width: 600, height: 500 });
        win.center();
        win.open();
    }

    function EditGoal(id) {
        BeginEditGoal();
        var url = '@Url.Action("Edit", "Goals")';
        $.ajax({ url: url, data: { id: id }, cache: false }).done(function (data) {
            $('#windowGoal').html(data);
            EditGoalLoaded();
        });
    }

    function EditGoalLoaded() {
        $('#goal_StartDate').kendoDatePicker();
        $('#goal_EndDate').kendoDatePicker();
        $.validator.unobtrusive.parse('#editGoalWrapper'); @* enable validation *@
    }

    function EditGoalSuccess(result) {
        if (result.success) {
            RefreshGoalsAndCloseWindow(result.OfferId, result.GoalId);
        } else { @* validation error *@
            EditGoalLoaded();
        }
    }

    function RefreshGoalsAndCloseWindow(newOfferId, goalId) {
        debugger;
        if ($('#divGoalsList:visible').length > 0)
            RefreshGoalsList();
        else { @* update dashboard *@
            var newOfferGoalId = newOfferId + '_' + goalId;
            var oldOfferGoalId = $('#windowGoal').find('#OldOfferGoalId').val();
            if (oldOfferGoalId == newOfferGoalId && $('#offergoals' + newOfferGoalId).length > 0) { @* update one goal row *@
                var url = '@Url.Action("OfferGoalsRow", "Home")';
                $.ajax({ url: url, data: { offerid: newOfferId, goalid: goalId }, cache: false }).done(function (data) {
                    $('#offergoals' + newOfferGoalId).html(data);
                });
            } else { @* update all goals *@
                var url = '@Url.Action("DashboardGoals", "Home")';
                $.ajax({ url: url, cache: false }).done(function (data) {
                    $('#dashboardGoals').html(data);
                });
            }
        }
        CloseGoalWindow();
    }

    function CloseGoalWindow() {
        $('#windowGoal').data("kendoWindow").close();
    }
</script>