@model IEnumerable<ClientPortal.Web.Models.GoalVM>

<table>
<thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Offer</th>
        <th>Metric</th>
        <th>Type</th>
        <th>Target</th>
        <th>Timeframe</th>
    </tr>
</thead>
<tbody>
@foreach (var goal in Model)
{
    @Html.Partial("Item", goal)
}
</tbody>
</table>
