<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/kendo/2014.1.416/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.416/kendo.silver.min.css" rel="stylesheet" />

    <script src="~/Scripts/kendo/2014.1.416/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2014.1.416/kendo.ui.core.min.js"></script>

    <style>
        body {
            font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
        }
    </style>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
