@model SelectList
@{
    bool debugMode = ViewBag.DebugMode ?? false;
}
@if (debugMode)
{
    <span style="color:red">[DEBUG MODE]</span>
}
@using (Html.BeginForm("ChooseMonth", "Payouts"))
{
    @Html.DropDownList("selectedMonth", Model, new { onchange = "this.form.submit();" })
}
