@model SelectList
@{
    bool debugMode = ViewBag.DebugMode ?? false;
}

@using (Html.BeginForm("ChooseMonth", "Payouts"))
{
    @Html.DropDownList("accountingmonth", Model, new { onchange = "this.form.submit();" })
    if (debugMode)
    {
        <span style="color:red">[DEBUG MODE]</span>
    }
}
