@model ClientPortal.Web.Models.ReportModel

<div style="height: 35px">
    <select style="width: 140px" id="daysum_dateRangeSel" onchange="ChangeDateRange('daysum')">
        <option value="mtd">Month to Date</option>
        <option value="ytd">Year to Date</option>
        <option value="lastmonth">Last Month</option>
        <option value="custom">- custom -</option>
    </select>
    <span class="paddedlabel">Start:</span>
    <input id="daysum_startdate" name="startdate" type="text" value="@Model.StartDate" onchange="DateChanged('daysum')" />
    <span class="paddedlabel">End:</span>
    <input id="daysum_enddate" name="enddate" type="text" value="@Model.EndDate" onchange="DateChanged('daysum')" />
    <a class="button paddedbutton" id="daysum_filterBtn" href="#" onclick="if($(this).attr('disabled') != 'disabled') RefreshGrid('daysum'); return false">Filter</a>
    <a class="button paddedbutton" style="float: right" href="#" onclick="ExportDaySumCSV(); return false">Export CSV</a>
</div>
<div id="daysumChartSection" class="k-content">
    <div class="configuration k-widget k-header" style="width: 170px; float: right">
        <span class="configHead">Base date unit</span>
        <ul class="options">
            <li>
                <input id="baseUnitYears" name="baseUnit"
                    type="radio" value="years" autocomplete="off" />
                <label for="baseUnitYears">Years</label>
            </li>
            <li>
                <input id="baseUnitMonths" name="baseUnit"
                    type="radio" value="months" autocomplete="off" />
                <label for="baseUnitMonths">Months</label>
            </li>
            <li>
                <input id="baseUnitWeeks" name="baseUnit"
                    type="radio" value="weeks" autocomplete="off" />
                <label for="baseUnitWeeks">Weeks</label>
            </li>
            <li>
                <input id="baseUnitDays" name="baseUnit"
                    type="radio" value="days" checked="checked" autocomplete="off" />
                <label for="baseUnitDays">Days</label>
            </li>
        </ul>
    </div>
    <div class="chart-wrapper">
        <div id="daysumChart"></div>
    </div>
</div>
<div id="daysumGrid"></div>

<script>
    function ExportDaySumCSV() {
        var s = $('#daysum_startdate').val();
        var e = $('#daysum_enddate').val();

        var url = '@Url.Action("DailySummaryReport", "Export")?startdate=' + s + '&enddate=' + e;
        window.location.href = url;
    }

    function CreateDailySummaryDataSource() {
        return new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverAggregates: true,
            pageSize: 100,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("DailySummaryData", "Reports")',
                    data: function () {
                        return {
                            startdate: $('#daysum_startdate').val(),
                            enddate: $('#daysum_enddate').val()
                        };
                    }
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                aggregates: 'aggregates',
                model: {
                    id: 'Id',
                    fields: {
                        Date: { type: 'date' },
                        Impressions: { type: 'number' },
                        Clicks: { type: 'number' },
                        Conversions: { type: 'number' },
                        ConversionPct: { type: 'number' },
                        Revenue: { type: 'number' },
                        EPC: { type: 'number' }
                    }
                }
            },
            sort: { field: "Date", dir: "asc" },
            aggregate: [
                { field: "Impressions", aggregate: "sum" },
                { field: "Clicks", aggregate: "sum" },
                { field: "Conversions", aggregate: "sum" },
                { field: "ConversionPct", aggregate: "agg" },
                { field: "Revenue", aggregate: "sum" },
                { field: "EPC", aggregate: "agg" }
            ]
        });
    }

    function SetupDailySummaryGrid() {
        $('#daysum_dateRangeSel').kendoDropDownList();
        $('#daysum_startdate').kendoDatePicker({ footer: ' ' });
        $('#daysum_enddate').kendoDatePicker({ footer: ' ' });

        var dataSource = CreateDailySummaryDataSource();

        $('#daysumGrid').kendoGrid({
            dataSource: dataSource,
            autoBind: false,
            height: 400,
            columns: [
                { field: 'Date', width: 60, format: '{0:d}' },
                { field: 'Impressions', width: 70, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Clicks', width: 90, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Conversions', title: 'Leads', width: 70, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'ConversionPct', title: 'Conv Pct', width: 90, format: '{0:p1}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(agg, 'p') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Revenue', title: 'Spend', width: 100, template: '#= FormatCurr(Revenue, Culture) #', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'EPC', title: 'Per Click', width: 90, template: '#= FormatCurr(EPC, Culture) #', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(agg, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } }
            ],
            filterable: false,
            sortable: false,
            pageable: true
        });
        CreateDaySumChart(dataSource);
        dataSource.read();
        $(".configuration").bind("change", UpdateDaySumBaseUnit);
        dataSource.bind("change", function () { UpdateDaySumChart(true); });
    }

    function CreateDaySumChart(dataSource) {
        $("#daysumChart").kendoChart({
            dataSource: dataSource,
            autoBind: false,
            chartArea: {
                height: 200
            },
            theme: $(document).data("kendoSkin") || "default",
            series: [
                { type: "line", aggregate: "sum", field: "Clicks", name: "Clicks", axis: "clicks", markers: { visible: false }, tooltip: { template: "#= kendo.format('{0:d}', category) #: #= kendo.format('{0:N0}',value) #" } },
                { type: "line", aggregate: "sum", field: "Revenue", name: "Spend", axis: "spend", markers: { visible: false }, tooltip: { template: "#= kendo.format('{0:d}', category) #: #= kendo.format('{0:C}',value) #" } }
            ],
            categoryAxis: {
                baseUnit: "days",
                field: "Date",
                labels: { rotation: -90 },
                axisCrossingValue: [0, 1000]
            },
            valueAxis: [
                { name: "clicks", labels: { format: "N0", step: 2 }, title: { text: "Clicks" } },
                { name: "spend", labels: { format: "C", step: 2 }, title: { text: "Spend" } }
            ],
            tooltip: {
                visible: true
            },
            legend: {
                position: "custom",
                offsetX: 90,
                offsetY: 0
            }
        });
    }

    function UpdateDaySumBaseUnit() {
        var chart = $("#daysumChart").data("kendoChart"),
            categoryAxis = chart.options.categoryAxis,
            baseUnitInputs = $("input:radio[name=baseUnit]");

        categoryAxis.baseUnit = baseUnitInputs.filter(":checked").val();
        UpdateDaySumChart(false);
        chart.refresh();
    }

    function UpdateDaySumChart(redraw) {
        var step = 1;
        var spark = false;
        var chart = $('#daysumChart').data('kendoChart');

        if (chart.options.categoryAxis.baseUnit == 'days')
        {
            var total = chart.dataSource.total();
            step = Math.ceil(total / 31);
            spark = (total > 62);
        }

        if (step > 0)
            chart.options.categoryAxis.labels.step = step;

        chart.options.categoryAxis.majorGridLines.visible = !spark;
        for (var i = 0; i < chart.options.series.length; i++) {
            chart.options.series[i].markers.visible = !spark;
        }

        if (redraw) chart.redraw();
    }
</script>