<div style="height: 35px;">
    <select style="float: left; width: 110px" id="offsum_dateRangeSel" onchange="ChangeDateRange('offsum')">
        <option value="today">Today</option>
        <option value="yesterday">Yesterday</option>
        <option value="wtd">Week to Date</option>
        <option value="mtd">Month to Date</option>
        <option value="ytd">Year to Date</option>
        <option value="lastweek">Last Week</option>
        <option value="lastmonth">Last Month</option>
        <option value="custom">- custom -</option>
    </select>
    <span style="float: left; margin-left: 10px">Start:</span>
    <input style="float:left; width:100px" id="offsum_startdate" name="startdate" type="text" value="@ViewBag.today" onchange="DateChanged('offsum')" />
    <span style="float: left; margin-left: 10px">End:</span>
    <input style="float:left; width:100px" id="offsum_enddate" name="enddate" type="text" value="@ViewBag.today" onchange="DateChanged('offsum')" />
    <a class="button" style="padding: 3px; margin-left: 10px" id="offsum_filterBtn" href="#" onclick="if($(this).attr('disabled') != 'disabled') RefreshGrid('offsum'); return false">Filter</a>
</div>
<div id="offsumChartSection" class="k-content">
    <div class="chart-wrapper">
        <div id="offsumChart"></div>
    </div>
</div>
<div id="offsumGrid"></div>

<script>
    function CreateOfferSummaryDataSource() {
        return new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverAggregates: true,
            pageSize: 20,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("OfferSummaryData", "Reports")',
                    data: function () {
                        return {
                            startdate: $('#offsum_startdate').val(),
                            enddate: $('#offsum_enddate').val()
                        };
                    }
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                aggregates: 'aggregates',
                model: {
                    id: 'OfferId',
                    fields: {
                        Name: { type: 'string' },
                        Format: { type: 'string' },
                        Price: { type: 'number' },
                        Clicks: { type: 'number' },
                        Conversions: { type: 'number' },
                        Revenue: { type: 'number' },
                    }
                }
            },
            sort: { field: "Revenue", dir: "desc" },
            aggregate: [
                { field: "Clicks", aggregate: "sum" },
                { field: "Conversions", aggregate: "sum" },
                { field: "Revenue", aggregate: "sum" }
            ]
        });
    }

    function SetupOfferSummaryGrid() {

        var dataSource = CreateOfferSummaryDataSource();

        $('#offsumGrid').kendoGrid({
            dataSource: dataSource,
            autoBind: false,
            height: 400,
            columns: [
                { field: 'OfferId', title: 'Id', width: 60, attributes: { style: "text-align: right" } },
                { field: 'Name', title: 'Offer' },
                { field: 'Format', width: 80 },
                { field: 'Price', width: 70, template: '#= FormatCurr(Price, Culture) #', attributes: { style: "text-align: right" } },
                { field: 'Clicks', width: 90, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Conversions', title: 'Leads', width: 70, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Revenue', title: 'Total', width: 100, template: '#= FormatCurr(Revenue, Culture) #', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
            ],
            filterable: true,
            sortable: {
                mode: 'multiple'
            },
            pageable: true,
            detailInit: OffSumDetailInit
        });
        $('#offsum_startdate').kendoDatePicker();
        $('#offsum_enddate').kendoDatePicker();
        CreateOffSumChart(dataSource);
        dataSource.read();
    }

    function CreateOffSumChart(dataSource) {
        $("#offsumChart").kendoChart({
            dataSource: dataSource,
            autoBind: false,
            chartArea: {
                height: 200
            },
            theme: $(document).data("kendoSkin") || "default",
            series: [
                { field: "Conversions", name: "Leads" }
            ],
            categoryAxis: {
                field: "OfferId",
                labels: { template: "#= value #" }
            },
            tooltip: {
                visible: true,
                format: "N0"
            },
            legend: {
                position: "left"
            }
        });
    }

    function OffSumDetailInit(e) {
        var readData = function () {
            return {
                startdate: $('#offsum_startdate').val(),
                enddate: $('#offsum_enddate').val(),
                offerid: e.data.OfferId
            };
        }
        var dataSource = CreateConversionReportDataSource(readData);

        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: dataSource,
            columns: [
                { field: 'ConversionId', title: 'Conv ID', width: 90 },
                { field: 'Date', width: 190, format: '{0:G}' },
                { field: 'AffId', title: 'sub_id', width: 80 },
                { field: 'PriceReceived', title: 'Price', width: 100, template: '#= FormatCurr(PriceReceived, Culture) #', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'TransactionId', title: 'Trans ID' }
            ],
            sortable: {
                mode: 'multiple'
            },
            pageable: true,
            scrollable: false
        });
    }
</script>