@model DirectAgents.Web.Areas.AB.Models.DashboardVM

<h2>Breakdown By Department</h2>

Client: @Model.ABClient.Name
<br /><br />

<table>
<tr>
    <th>Department</th>
    <th>Revenue</th>
    <th>Cost</th>
</tr>
@foreach (var stat in Model.ABStats)
{
<tr>
    <td>@stat.Name</td>
    <td>@stat.Rev</td>
    <td>@stat.Cost</td>
</tr>
}
</table>