@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

@*<!--+---------+
      | Top Bar |
      +---------+-->*@
<div class="row">
    <div class="five columns toplogo">
        <img src="~/Images/logo1a.png" />
    </div>
    <div class="two columns topinfo">
        Admin
    </div>
    <div class="five columns logout">
    </div>
</div>
<!-- /TopBar -->

@*<!--+--------------------------------------+
      | Gray Band/HTabs Background/Container | 
      +--------------------------------------+-->*@
<div class="row">
    <div class="twelve columns grayband">
    </div>
</div>
<!-- /GrayBandForHTabs -->

@*<!--+--------------+
      | Main Content |
      +--------------+-->*@
<div class="row" id="main">

    @*<!--+---------+
          | Sidebar |
          +---------+-->*@
    <div class="two columns portaltabs-v">

        @*<!--+---------------+
              | Vertical Tabs |
              +---------------+-->*@
        <dl class="vertical tabs">
            <dd class="active"><a href="#vertical1" id="vertNav_Home">Home</a></dd>
            <dd><a href="#vertical2" id="vertNav_ABC">ABC</a></dd>
        </dl>
        <!-- /VTabs -->

    </div>
    <!-- /Sidebar -->

    @*<!--+---------------+
          | VTabs Content |
          +---------------+-->*@
    <ul class="tabs-content">

        @*<!--+----------
              | Home VTab
              +------------>*@
        <li id="vertical1Tab" class="active">
            <div class="ten columns portaltabs-h">

                @*<!--+----------------+
                      | Home HTabs  |
                      +----------------+-->*@
                <dl class="tabs">
                    <dd class="active"><a href="#advertisers" id="navAdvertisers">Advertisers</a></dd>
                    <dd><a href="#contacts" id="navContacts">Contacts</a></dd>
                </dl>
                <!-- /Home HTabs  -->

                @*<!--+------------------------+
                      | Home HTabs Content  |
                      +------------------------+-->*@
                <ul class="tabs-content">
                    <li id="advertisersTab" class="active"></li>
                    <li id="contactsTab"></li>
                </ul>
                <!-- /Home Content  -->

            </div>
        </li>
        <!-- /Reports   -->

        @*<!--+-----------
              | ABC VTab
              +------------->*@
        <li id="vertical2Tab">
            <div class="ten columns" id="abcTab">
                abc
            </div>
        </li>
        <!-- /ABC -->

    </ul>
    <!-- /VTabs -->

</div>
<!-- /MainContent -->

@*<!--+---------------------+
      | Footer / Bottom Bar |
      +---------------------+-->*@
<footer class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="six columns">
                <p>&copy; 2013 Direct Agents</p>
            </div>
            <div class="six columns">
            </div>
        </div>
    </div>
</footer>
<!-- /BottomBar  -->

@section head {
    <link href="~/Content/kendo/2013.1.514/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.1.514/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/kendo/2013.1.514/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2013.1.514/cultures/kendo.culture.de-DE.min.js"></script>
    <script src="~/Scripts/kendo/2013.1.514/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/kendo/2013.1.514/cultures/kendo.culture.en-AU.min.js"></script>
    <script>

        // ready function
        $(function () {
            LoadAdvertisers();
            SetupTabs();
        });

        function LoadAdvertisers() {
            $.ajax({
                url: '@Url.Action("Index", "Advertisers")',
                cache: false
            }).done(function (html) {
                $("#advertisersTab").html(html);
            });
        }

        function SetupTabs() {
            // Contacts
            $("#navContacts").one("click", function () {
                $.ajax({
                    url: '@Url.Action("Index", "Contacts")',
                    cache: false
                }).done(function (html) {
                    $("#contactsTab").html(html);
                });
            });
        }

    </script>
}