<#@ template language="C#" #>
<p>Hello <#=MediaBuyerName#>,<br/>
<br/>
You have pending publisher report approvals for <#=TimePeriod#>.<br/>
<br/>
Please click <a href="<#=UrlToOpen#>">here</a> to open them.<br/>
<br/>
Thank You.</p>
