@model IEnumerable<DirectAgents.Domain.Entities.TD.Campaign>

<h2>Campaigns</h2>

<table>
<tr>
    <th>Advertiser</th>
    <th>Campaign</th>
    <th>Accounts</th>
    <th>Platforms</th>
</tr>
@foreach (var camp in Model)
{
<tr>
    <td>@camp.Advertiser.Name</td>
    <td>@Html.ActionLink(camp.Name, "MTD", "Stats", new { campId = camp.Id }, null)</td>
    <td style="text-align:center">@camp.Accounts.Count</td>
    <td>@string.Join(",", camp.Accounts.Select(a => a.Platform).Distinct().Select(p => p.Name))</td>
</tr>
}
</table>
