@model ClientPortal.Web.Models.UserInfo

<div id="client_bar">
	<div id="container">
		<div class="client_logo"></div>
        <div class="client_name">@Model.ProgAdvertiser.Name</div>
        <div class="page_title">@ViewBag.Title</div>
    </div>
</div>
