<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>@ViewBag.Title</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css' />
<link href='~/Content/progstyle.css' rel="stylesheet" type="text/css" />

<link href="http://kendo.cdn.telerik.com/2016.1.406/styles/kendo.common-bootstrap.min.css" rel="stylesheet" />
<link href="http://kendo.cdn.telerik.com/2016.1.406/styles/kendo.bootstrap.min.css" rel="stylesheet" />

<script src="http://kendo.cdn.telerik.com/2016.1.406/js/jquery.min.js"></script>
<script src="http://kendo.cdn.telerik.com/2016.1.406/js/kendo.all.min.js"></script>
</head>

<body>
<div id="header">
	<div id="container">
    	<div class="logo">&nbsp;</div>
        <div class="nav">
        	<ul class="navbar">
            	<li class="nav1"><a href="#">Executive<br />Summary</a></li>
                <li class="nav2"><a href="#">Strategy<br />Summary</a></li>
                <li class="nav2"><a href="#">Weekly<br />Summary</a></li>
                <li class="nav3"><a href="#">Creative<br />Performance</a></li>
                <li class="nav4"><a href="#">Top 50<br />Site List</a></li>
                <li class="nav4"><a href="#">Lead<br />IDs</a></li>
            </ul>
        </div>
    </div>
</div>

@RenderBody()

<div id="footer">&nbsp;</div>
@RenderSection("scripts", required: false)
</body>
</html>
