@using DirectAgents.Domain.Entities.TD;
@model Platform

<h2>@Model.Name - Maintenance</h2>

@if (Model.Code == Platform.Code_AdRoll)
{
}
@if (Model.Code == Platform.Code_DBM)
{
    <div id="divSyncPlatform">
        @Html.ActionLink("Sync All Accounts", "Sync", new { id = Model.Id }, new { onclick = "$('#divSyncPlatform').html('Syncing...')" })
    </div>
    <br />
}

External Accounts:
<div id="grid"></div>

@section scripts {
<script>
    $(document).ready(function () {
        SetupGrid();
    });

    function SetupGrid() {
        var datasource = new kendo.data.DataSource({
            pageSize: 100,
            transport: {
                read: {
                    url: '@Url.Action("IndexData", "Accounts", new { platform = Model.Code })',
                    type: 'POST', dataType: 'json'
                }
            },
            schema: {
                data: 'data',
                total: 'total'
            },
            sort: { field: 'Name', dir: 'asc' }
        });

        $('#grid').kendoGrid({
            dataSource: datasource,
            height: 400,
            filterable: true,
            pageable: true,
            sortable: true,
            detailInit: detailInit,
            columns: [
                { field: 'Id', width: 50 },
                { field: 'Name' },
                { field: 'Platform', width: 100 },
                { field: 'ExternalId', width: 300 },
            ]
        });
    }

    function detailInit(e) {
        var divId = 'divAcctMaint' + e.data.Id;
        $('<div id="' + divId + '" />').appendTo(e.detailCell);
        LoadMaintenanceDetail(e.data.Id);
    }

    function SyncAccount(acctId, syncUrl) {
        $('#divAcctMaint' + acctId).html('Syncing...');
        $.post(syncUrl, function (data) {
            LoadMaintenanceDetail(acctId);
        });
    }

    function LoadMaintenanceDetail(acctId) {
        $('#divAcctMaint' + acctId).load('@Url.Action("MaintenanceDetail", "Accounts", new { id = 0 })'.replace('0', acctId));
    }
</script>
}