<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AccountingBackupEntities" connectionString="metadata=res://*/AccountingBackup.AccountingBackupData.csdl|res://*/AccountingBackup.AccountingBackupData.ssdl|res://*/AccountingBackup.AccountingBackupData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=ABWebDatabase1_prod;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StagingEntities" connectionString="metadata=res://*/Staging.Staging.csdl|res://*/Staging.Staging.ssdl|res://*/Staging.Staging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=ABWeb_staging;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AaronContainer" connectionString="metadata=res://*/QuickBooks.TextTemplate11.csdl|res://*/QuickBooks.TextTemplate11.ssdl|res://*/QuickBooks.TextTemplate11.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=QuickBooksData;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ABWebConfig" connectionString="metadata=res://*/AccountingBackup.Config.ABWebConfig.csdl|res://*/AccountingBackup.Config.ABWebConfig.ssdl|res://*/AccountingBackup.Config.ABWebConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=ABWeb_config;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="QuickBooksService.Properties.Settings.ABWeb_configConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=ABWeb_config;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuickBooksService.Properties.Settings.ABWebDatabase1_prodConnectionString"
      connectionString="Data Source=biz2\da;Initial Catalog=ABWebDatabase1_prod;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>