@{
    ViewBag.Title = "Executive Summary";
}

<div id="client_bar_exec">
<div id="container">
    <div class="exec_charts">
        <section>
            <div id="gridMTD"></div>
        </section>
        <section>
            <div id="gridPrev"></div>
        </section>
        </div>
        <div class="client_logo_exec"></div>
        <div class="client_name_exec">Monterey Bay Aquarium</div>
    </div>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        SetupGrids();
    });

    function SetupGrids() {
        $("#gridMTD").kendoGrid({
            columns: [
            {
                title: "Month to Date: 2/1/2016 thru 2/8/2016",
                columns: [
                { field: "Budget" },
                { field: "Spend" },
                { field: "Pacing" },
                { field: "Impressions" },
                { field: "Clicks" },
                { field: "CTR" },
                { field: "eCPC" },
                { field: "Conversions" },
                { field: "eCPA" }
                ]
            }
            ],
            dataSource: [
                { Budget: "$2000.00", Spend: "$103.86", Pacing: "5.15%", Impressions: "25,126", Clicks: "16", CTR: "0.06%", eCPC: "$6.46", Conversions: "0", eCPA: "$0.00" }
            ]
        });

        $("#gridPrev").kendoGrid({
            columns: [
            {
                title: "Previous Month: 1/1/2016 thru 1/8/2016",
                columns: [
                { field: "Budget" },
                { field: "Spend" },
                { field: "Pacing" },
                { field: "Impressions" },
                { field: "Clicks" },
                { field: "CTR" },
                { field: "eCPC" },
                { field: "Conversions" },
                { field: "eCPA" }
                ]
            }
            ],
            dataSource: [
                { Budget: "$2000.00", Spend: "$2068.42", Pacing: "103.40%", Impressions: "400,115", Clicks: "293", CTR: "0.07%", eCPC: "$43.08", Conversions: "0", eCPA: "$0.00" }
            ]
        });
    }
</script>
}
