
@*<!--+---------+
      | Top Bar |
      +---------+-->*@
<div class="row">
    <div class="five columns toplogo">
        <img src="~/Images/logo1a.png" />
    </div>
    <div class="two columns topinfo">
        @Html.Partial("_HelloPartial", false)
    </div>
    <div class="five columns logout">
        <div style="float: right">
            @Html.Partial("_LoginPartial", false)
        </div>
    </div>
</div>
<!-- /TopBar -->

@*<!--+--------------------------------------+
      | Gray Band/HTabs Background/Container | 
      +--------------------------------------+-->*@
<div class="row">
    <div class="twelve columns grayband">
    </div>
</div>
<!-- /GrayBandForHTabs -->

@*<!--+--------------+
      | Main Content |
      +--------------+-->*@
<div class="row" id="main">

    @*<!--+---------+
          | Sidebar |
          +---------+-->*@
    <div class="two columns portaltabs-v">

        @*<!--+---------------+
              | Vertical Tabs |
              +---------------+-->*@
        <dl class="vertical tabs">
            <dd class="active"><a href="#verticalReports" id="vertNav_Reports">Reports</a></dd>
            <dd><a href="#verticalSample" id="vertNav_Sample">Sample - Daily</a></dd>
        </dl>
        <!-- /VTabs -->

        @*Html.Partial("_MainContacts")*@

    </div>
    <!-- /Sidebar -->

    @*<!--+---------------+
          | VTabs Content |
          +---------------+-->*@
    <ul class="tabs-content">

        @*<!--+----------
              | Reports VTab
              +------------>*@
        <li id="verticalReportsTab" class="active">
            <div class="ten columns portaltabs-h">

                @*<!--+----------------+
                      | Reports HTabs  |
                      +----------------+-->*@
                <dl class="tabs">
                    <dd class="active"><a href="#repSum" id="repNav_Sum">Summary</a></dd>
                </dl>
                <!-- /ReportsHTabs  -->

                @*<!--+------------------------+
                      | Reports HTabs Content  |
                      +------------------------+-->*@
                <ul class="tabs-content">
                    <li id="repSumTab" class="active">
                        <div id="sumNotLoaded"></div>
                    </li>
                </ul>
                <!-- /ReportsContent  -->

            </div>
        </li>
        <!-- /Reports   -->

        @*<!--+----------
              | Sample VTab
              +------------>*@
        <li id="verticalSampleTab">
            <div class="ten columns" id="sampleTab">
            </div>
        </li>
        <!-- /Sample  -->

    </ul>
    <!-- /VTabs Content -->

</div>
<!-- /MainContent -->

@*<!--+---------------------+
      | Footer / Bottom Bar |
      +---------------------+-->*@
<footer class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="six columns">
                <p>&copy; 2014 Direct Agents</p>
            </div>
            <div class="six columns">
            </div>
        </div>
    </div>
</footer>
<!-- /BottomBar  -->

@section head {
    <link href="~/Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2012.3.1114/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/kendo/2012.3.1114/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.de-DE.min.js"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.en-AU.min.js"></script>
    <script>

        // ready function
        $(function () {
            LoadSummary();
            SetupTabs();
        });

        function LoadSummary() {
            $.ajax({
                url: '@Url.Action("Summary", "Reports")',
                cache: false
            }).done(function (html) {
                $('#repSumTab').html(html);
            });
        }

        function LoadSample() {
            $.ajax({
                url: '@Url.Action("Sample", "Reports")',
                cache: false
            }).done(function (html) {
                $('#sampleTab').html(html);
            });
        }

        function SetupTabs() {
            $('#vertNav_Sample').one("click", function () {
                $('#sampleTab').html("Loading...");
                LoadSample();
            });
        }

    </script>
}