@model IEnumerable<ClientPortal.Web.Models.FileUploadInfo>

<table>
@foreach (var file in Model)
{
    <tr>
        <td>@file.UploadDate</td>
        <td>@file.Filename</td>
@*        <td>@Html.ActionLink("process", "Process", new { Id = file.Id })</td>*@
    </tr>
}
</table>
