@model IEnumerable<ClientPortal.Web.Models.FileUploadInfo>

<table>
@foreach (var file in Model)
{
    <tr>
        <td>@file.UploadDate</td>
        <td>@file.Filename</td>
        <td>@Ajax.ActionLink("process", "Process", new { Id = file.Id }, new AjaxOptions { OnBegin = "ProcessFileBegin", OnSuccess = "ProcessFileSuccess" })
            | <a href="#" onclick="DeleteFile(@file.Id, true); return false">Delete</a>
        </td>
    </tr>
}
</table>
